<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawerAdmin class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list class="nav-list-movil">
            <!-- <a (click)="drawerAdmin.toggle()" mat-menu-item routerLink="/admin/home" routerLinkActive="active">Estadisticas</a>
            <a (click)="drawerAdmin.toggle()" mat-menu-item routerLink="/admin/inventory" routerLinkActive="active">Inventario</a> -->
            <a (click)="drawerAdmin.toggle()" mat-menu-item routerLink="/admin/orders" routerLinkActive="active">
                <mat-icon>moped</mat-icon>
                <span>Pedidos</span>
            </a>
            <a (click)="drawerAdmin.toggle()" mat-menu-item routerLink="/admin/products" routerLinkActive="active">
                <mat-icon>workspaces</mat-icon>
                <span>Productos</span>
            </a>
            <a (click)="drawerAdmin.toggle()" mat-menu-item [routerLink]="['/stores', idStore]" routerLinkActive="active">
                <mat-icon>storefront</mat-icon>
                <span>Mi tienda</span>
            </a>
            <a (click)="drawerAdmin.toggle()" mat-menu-item routerLink="/admin/store-settings" routerLinkActive="active">
                <mat-icon>settings</mat-icon>
                <span>Configuración</span> 
            </a>
            <a (click)="drawerAdmin.toggle()" mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </a>
        </mat-nav-list>
        <mat-nav-list class="nav-list">
            <!-- <a mat-menu-item routerLink="/admin/home" routerLinkActive="active">Estadisticas</a>
            <a mat-menu-item routerLink="/admin/inventory" routerLinkActive="active">Inventario</a> -->
            <a mat-menu-item routerLink="/admin/orders" routerLinkActive="active">
                <mat-icon>moped</mat-icon>
                <span>Pedidos</span>
            </a>
            <a mat-menu-item routerLink="/admin/products" routerLinkActive="active">
                <mat-icon>workspaces</mat-icon>
                <span>Productos</span>
            </a>
            <a mat-menu-item [routerLink]="['/stores', idStore]" routerLinkActive="active">
                <mat-icon>storefront</mat-icon>
                <span>Mi tienda</span>
            </a>
            <a mat-menu-item routerLink="/admin/store-settings" routerLinkActive="active">
                <mat-icon>settings</mat-icon>
                <span>Configuración</span> 
            </a>
            <a mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="custom-scroll">
        <mat-toolbar class="navbar-fixed-top" color="primary" style="background-color: white; color: gray;">
            <mat-toolbar-row style="border-bottom: solid 1px #e0e0e0;">
                <div class="row between-xs middled-xs header-row">
                    <nav>
                        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawerAdmin.toggle()"
                            *ngIf="isHandset$ | async">
                            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                        </button>
                        <span style="color: #f3006d;">ema</span>
                    </nav>
                    <div class="row between-xs middled-xs align-center">
                        <a mat-button routerLink="/admin">{{userName}}</a>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <button mat-button
                                (click)="fetchPendingOrder()">
                            <mat-icon   [matBadge]="numNewOrders$ | async"
                                        [matBadgeHidden]="matBageShow$ | async" 
                                        matBadgeColor="warn"
                                        style="color: #73726c;"
                                        [matMenuTriggerFor]="menu" 
                                        aria-label="Example icon-button with a menu">
                                        notifications
                            </mat-icon>
                        </button>
                        <!-- <button *ngIf="numNewOrders$ | async" 
                                mat-button
                                (click)="fetchPendingOrder()">
                            <mat-icon   [matBadge]="numNewOrders$ | async"
                                        [matBadgeHidden]="matBageShow$ | async"
                                        matBadgePosition="below"
                                        matBadgeSize="small" 
                                        matBadgeColor="warn"
                                        style="color: #73726c;"
                                        [matMenuTriggerFor]="menu" 
                                        aria-label="Example icon-button with a menu">
                                        notifications_active
                            </mat-icon>
                        </button> -->
                    </div>
                </div>
            </mat-toolbar-row>
            <mat-progress-bar mode="indeterminate" [ngStyle]="{'display': (isLoading$ | async) ? 'flex' : 'none' }" style="bottom: 0px; position: absolute;"></mat-progress-bar>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu class="menu-cont" #menu="matMenu">
    <h1 style="padding: 0px 16px;">Notificaciones</h1>
    <p style="padding: 0px 16px 5px; border-bottom: solid 1px #e0e0e0;">Sin revisar</p>
    <div style="padding: 0px 16px;">
        <div    *ngIf="(order$ | async).length === 0" 
                style=" display: flex; 
                        align-items: center;
                        margin: 5px 0px; 
                        border-bottom: solid 1px #e0e0e0;">
                        <mat-card-subtitle>Todo esta al día.</mat-card-subtitle>
        </div>
        <div *ngFor="let order of order$ | async"
                [routerLink]="['/admin/orders/detail', order.order]" 
                mat-menu-item 
                style=" display: flex; 
                        align-items: center;
                        margin: 5px 0px; 
                        border-bottom: solid 1px #e0e0e0;
                        cursor: pointer;">
            <mat-icon style="color: crimson;">fiber_manual_record</mat-icon>
            <span>{{ order.userName | titlecase | slice:0:9 }} | </span>
            <span>orden N°: {{ order.order }}</span>
        </div>
    </div>
    <p style="  padding: 16px 16px 5px; 
                border-bottom: solid 1px #e0e0e0;">
                Pedidos pendientes
    </p>
    <div style="padding: 0px 16px;">
        <div    *ngIf="(pendingOrder$ | async).length === 0" 
                style=" display: flex; 
                        align-items: center;
                        margin: 5px 0px; 
                        border-bottom: solid 1px #e0e0e0;">
                        <mat-card-subtitle>No tienes pedidos pendientes.</mat-card-subtitle>
        </div>
        <div    *ngFor="let order of pendingOrder$ | async"
                [routerLink]="['/admin/orders/detail', order.id]" 
                style=" display: flex; 
                        align-items: center;
                        margin: 5px 0px; 
                        border-bottom: solid 1px #e0e0e0;
                        cursor: pointer;">
            <mat-icon style="color: #80ad55;">shopping_basket</mat-icon>
            <p style="margin: 0px; padding: 0px 5px;"> 
                <span>Orden N°: {{ order.id }} - </span><span>&nbsp;</span>
                <span>Fecha: {{ order.horaventa | date:'short' }}</span>
                <!-- <span>Cant: {{ order.products?.length }} | </span> -->
                <!-- <span>Total: {{ order.valortotal | currency:'$':'symbol':'1.0-0' }}</span> -->
            </p>
        </div>
    </div>
    <div    *ngIf="isloadingTwo$ | async"
            style="justify-content: center; display: flex; width: 100%;">
        <mat-spinner diameter=24></mat-spinner>
    </div>
</mat-menu>