<div class="navbar-cont">
    <mat-toolbar>
        <mat-toolbar-row>
            <div class="row between-xs middled-xs header-row">
                <nav class="row" style="align-items: center;">
                    <button mat-icon-button (click)="mostrar2.toggle()" (click)="showIconMenu()">
                        <mat-icon style="color: #73726c;">menu</mat-icon>
                        <!-- <mat-icon *ngIf="!stateIconMenu" style="color: #73726c;">menu</mat-icon>
                        <mat-icon *ngIf="stateIconMenu" style="color: #73726c;">close</mat-icon> -->
                    </button>
                    <!-- <div mat-card-avatar routerLink="/home" style="background-image: url(./../../../../assets/images/icon.png);
                    background-size: cover;">
                    </div> -->
                    <a mat-icon-button style="width: 75px;">
                        <img src="./../../../../assets/images/logo1.png" routerLink="/home" style="cursor: pointer;" alt="logo">
                    </a>
                    <!-- <a mat-button routerLink="/home" routerLinkActive="active" style="font-family: cursive; font-style: italic; font-size: 30px; color: #d0006f;">ema</a> -->
                    <!-- <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a> -->
                    <div class="row" mat-icon-button *ngIf="(rol$ | async) === 'isClient'" (click)="openDialog()">
                        <mat-icon class="col">place</mat-icon>
                        <div class="col">
                            <p class="label-title">enviar a:</p>
                            <p *ngIf="(selectAddress$ | async) === ''" class="title">Agregar dirección</p>
                            <p *ngIf="(selectAddress$ | async) !== {}" class="title">{{ (selectAddress$ | async).direccion | lowercase }}</p>
                        </div>
                        <mat-icon class="col icon-2" style="color: #4d90d3; font-size: 25px; margin-top: 10px;">arrow_drop_down</mat-icon>
                    </div>
                    <a class="install-app" mat-button (click)="installByUser()" *ngIf="installEvent">Instalar App</a>
                </nav>
                <!-- <div class="cont-btn-search">
                    <input matInput #termino type="text" (keyup)="searchStore(termino.value)" autocomplete="off" placeholder="Buscar...">
                    <mat-label>
                        <mat-icon style="color: #73726c; font-size: 25px;">search</mat-icon>
                    </mat-label>
                </div> -->
                <div class="search-cont">
                    <input  matInput 
                            #termino 
                            type="text" 
                            (keyup)="searchStore(termino.value)" 
                            autocomplete="off" 
                            placeholder="Buscar..."
                            autofocus="true">
                    
                </div>
                <div class="row between-xs middled-xs card-content">
                    <!-- <a mat-button routerLink="/stores" routerLinkActive="active" mat-button>
                        Tiendas
                        <mat-icon style="color: #73726c;">storefront</mat-icon></a>
                    <a mat-button routerLink="/products" routerLinkActive="active" mat-button>
                        Productos
                        <mat-icon style="color: #73726c;">widgets</mat-icon></a> -->
                    <a (click)="openSearch()" 
                        routerLink="/search" 
                        routerLinkActive="active"
                         mat-button 
                         class="display-movil">
                        <mat-icon   matBadgeColor="warn"
                                    style="color: #73726c;">
                                    search
                        </mat-icon>
                    </a>
                    <a *ngIf="(rol$ | async) !== ''" [matMenuTriggerFor]="menu" routerLinkActive="active" mat-button class="display-movil">
                        <mat-icon   matBadgeColor="warn"
                                    style="color: #73726c;">
                                    account_circle
                        </mat-icon>
                    </a>
                    <a *ngIf="(rol$ | async) === ''" [matMenuTriggerFor]="menu2" routerLinkActive="active" mat-button class="display-movil">
                        <mat-icon   matBadgeColor="warn"
                                    style="color: #73726c;">
                                    account_circle
                        </mat-icon>
                    </a>
                    <a class="name-user" mat-button *ngIf="(rol$ | async) !== ''" [matMenuTriggerFor]="menu">
                        <mat-icon style="color: #73726c;">account_circle</mat-icon>
                        Hola, {{ nameUser$ | async | titlecase }}
                        <mat-icon style="color: #4d90d3;">arrow_drop_down</mat-icon>
                    </a>
                    <button mat-stroked-button 
                            (click)="openDialogLogin()" 
                            color="accent" 
                            class="name-user" 
                            *ngIf="(rol$ | async) === ''">
                            Iniciar sesión
                    </button>
                    <button mat-stroked-button 
                            (click)="openDialogRegister()" 
                            color="accent" 
                            class="name-user" 
                            *ngIf="(rol$ | async) === ''">
                            Obtener cuenta
                    </button>
                    <a *ngIf="(session$ | async) !== 'isStore'" (click)="mostrar.toggle()" routerLinkActive="active" mat-button class="cart">
                        <span >Total: {{ totalCompra$ | async | currency:'$':'symbol':'1.0-0' }}</span>
                        <mat-icon [matBadge]="total$ | async" matBadgeColor="warn"
                            [matBadgeHidden]="matBageShow$ | async" style="color: #73726c;">
                            shopping_cart
                        </mat-icon>
                    </a>
                    <a *ngIf="(session$ | async) !== 'isStore'" (click)="mostrar.toggle()" routerLinkActive="active" mat-button class="display-movil">
                        <mat-icon [matBadge]="total$ | async" matBadgeColor="warn"
                            [matBadgeHidden]="matBageShow$ | async" style="color: #73726c;">
                            shopping_cart
                        </mat-icon>
                    </a>
                    <!-- <a mat-button style="padding: 0px 10px;">
                        <div mat-card-avatar routerLink="/admin" class="avatar-header-image">
                        </div>
                    </a> -->
                </div>
            </div>
        </mat-toolbar-row>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
    </mat-toolbar>
</div>

<!-- menu user --init-- -->

<mat-menu class="mat-menu" #menu="matMenu">
    <div style="display: flex; border-bottom: solid 1px rgba(0,0,0,.25); padding: 0px 10px;">
        <div class="icon-face">
            <mat-icon style="font-size: 40px;color: grey; width: 41px; padding: 0px 6px 0px 0px;">sentiment_satisfied_alt</mat-icon>
        </div>
        <div class="content-user">
            <span class="name-user">Hola, {{ nameUser$ | async | titlecase }}</span><br>
            <span class="btn-perfil" (click)="toPerfil()" style="font-size: 12px; cursor: pointer;">ver Perfil</span>
        </div>
    </div>
    <div *ngIf="(rol$ | async) === 'isClient'">
        <!-- <button mat-menu-item>
            <mat-icon>list_alt</mat-icon>
            <span>Listas guardadas</span>
        </button> -->
        <button mat-menu-item routerLink="/user/address">
            <mat-icon>location_on</mat-icon>
            <span>Direcciones</span>
        </button>
        <button mat-menu-item routerLink="/user/orders">
            <mat-icon>loyalty</mat-icon>
            <span>Pedidos</span>
        </button>
        <button mat-menu-item routerLink="/user/subscriptions">
            <mat-icon>notifications_active</mat-icon>
            <span>Suscripciones</span>
        </button>
        <button mat-menu-item (click)="logout()" style="border-top: solid 1px rgba(0,0,0,.25);">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </div>
    <div *ngIf="(rol$ | async) === 'isStore'">
        <button mat-menu-item routerLink="/admin/orders">
            <mat-icon>list_alt</mat-icon>
            <span>Pedidos</span>
        </button>
        <button mat-menu-item routerLink="/admin/products">
            <mat-icon>widgets</mat-icon>
            <span>Productos</span>
        </button>
        <button (click)="logout()" mat-menu-item style="border-top: solid 1px rgba(0,0,0,.25);">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </div>
</mat-menu>

<mat-menu class="mat-menu" #menu2="matMenu">
    <button mat-menu-item (click)="openDialogLogin()">
        <mat-icon>account_circle</mat-icon>
        <span>Iniciar sesión</span>
      </button>
    <button mat-menu-item (click)="openDialogRegister()">
      <mat-icon>person_add_alt_1</mat-icon>
      <span>Obtener cuenta</span>
    </button>
</mat-menu>

<!-- menu user --final-- -->