.navbar-cont {
    height: 56px;
    @media (min-width: 600px) {
        height: 64px;
    }
    mat-toolbar {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: white;
        box-shadow: 0px 0px 10px 0px #c7c7c7;
        mat-toolbar-row {
            // border-top: solid 1px rgb(192, 192, 192);
            // border-bottom: solid 1px rgb(192, 192, 192);
            .header-row {
                width: 100%;
                nav {
                    padding-left: 1px;
                    padding-right: 1px;
                    margin-left: 2px;
                    margin-right: 2px;
                    text-decoration: none;
                    align-items: center;
                    button {
                        @media (max-width: 600px) {
                            display: none;
                        }
                    }
                    div {
                        padding-left: 10px;
                        height: 40px;
                        @media (max-width: 1080px) {
                            display: none;
                        }
                        mat-icon {
                            color: #ff4081;
                            font-size: 40px;
                            width: 42px;
                        }
                        div {
                            padding-left: 0px;
                            .label-title {
                                font-size: 12px;
                                color: #73726c;
                                margin-top: -5px;
                            }
                            .title {
                                font-size: 14px;
                                margin: -25px 0px 0px 0px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .cont-btn-search {
                    // border: solid 1px #b1b1b1;
                    border-radius: 20px;
                    height: 35px;
                    width: 300px;
                    display: inline-block;
                    text-align: left;
                    background-color: #f9fafc;
                    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                    @media (max-width: 1000px) {
                        display: none;
                    }
                    input {
                        text-decoration: none;
                        height: 30px;
                        width: 230px;
                        font-size: 15px;
                        outline: none;
                        outline-width: 0;
                        box-shadow: none;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                        border: none;
                        margin: 2px 2px 2px 20px;
                        background-color: #f9fafc;
                    }
                    mat-label {
                        margin-left: 0px;
                        margin-top: 6px;
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                    }
                }
                .card-content {
                    padding: 0px 4px;
                    .name-user {
                        margin: 0px 10px;
                        @media (max-width: 600px) {
                            display: none;
                        }
                    }
                    a {
                        padding: 0px 10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

a,
img,
button {
    &:focus {
        outline: none;
    }
}

nav>a.active {
    border-bottom: solid white;
}