<div style="background-color: #f9fafc; width: 100%; height: 10px;"></div>
<div *ngIf="(tags$ | async) as tags">
    <div class="title-cont">
        <mat-card-title>{{tags[0]?.descripcion | titlecase}}</mat-card-title>
    </div>
    <div *ngFor="let store of tags[0]?.tiendas">
        <app-banner-stores *ngIf="store.products" [store]="store"></app-banner-stores>
    </div>
    <div *ngIf="tags[0]?.tiendas >= numberProductsFetch" class="action-btn">
        <!-- <div (click)="seeMore()">Ver mas</div> -->
        <div (click)="paginationPrevious()"><mat-icon>keyboard_arrow_left</mat-icon></div>
        <div (click)="btnOne()" [ngClass]="{'btnPageSelect': stateBtnOne}">{{ btnPageOne }}</div>
        <div (click)="btnTwo()" [ngClass]="{'btnPageSelect': stateBtnTwo}">{{ btnPageTwo }}</div>
        <div (click)="btnThree()" [ngClass]="{'btnPageSelect': stateBtnThree}">{{ btnPageThree }}</div>
        <div (click)="paginationNext()"><mat-icon>keyboard_arrow_right</mat-icon></div>
    </div>
</div>
