<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="nav-list-movil">
      <!-- <a (click)="drawer.toggle()" mat-list-item routerLink="/user/savedlists" routerLinkActive="active">Listas Guardadas</a> -->
      <a (click)="drawer.toggle()" mat-list-item routerLink="/user/address" routerLinkActive="active">Direcciones</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/user/orders" routerLinkActive="active">Pedidos</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/user/subscriptions" routerLinkActive="active">Suscripciones</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/user/setting" routerLinkActive="active">Configuración</a>
      <a (click)="drawer.toggle()" mat-list-item (click)="logout()">Cerrar Sesión</a>
    </mat-nav-list>
    <mat-nav-list class="nav-list">
      <!-- <a (click)="drawer.toggle()" mat-list-item routerLink="/user/savedlists" routerLinkActive="active">Listas Guardadas</a> -->
      <a mat-list-item routerLink="/user/address" routerLinkActive="active">Direcciones</a>
      <a mat-list-item routerLink="/user/orders" routerLinkActive="active">Pedidos</a>
      <a mat-list-item routerLink="/user/subscriptions" routerLinkActive="active">Suscripciones</a>
      <a mat-list-item routerLink="/user/setting" routerLinkActive="active">Configuración</a>
      <a mat-list-item (click)="logout()">Cerrar Sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar-fixed-top" color="primary" style="background-color: white; color: gray;">
      <mat-toolbar-row style="border-bottom: solid 1px #e0e0e0;">
          <div class="row between-xs middled-xs header-row">
              <nav>
                  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                      *ngIf="isHandset$ | async">
                      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                  </button>
                  <span style="color: #f3006d;">ema</span>
              </nav>
              <div class="row between-xs middled-xs actions-cont">
                  <span routerLink="/user">{{ nameUser$ | async | titlecase | slice:0:12 }}</span>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <button mat-button 
                          routerLink="/stores" 
                          routerLinkActive="active">
                          <mat-icon style="color: #73726c;">
                            storefront
                          </mat-icon>
                        </button>
                  <button mat-button>
                          <mat-icon   [matBadge]="numNewOrders$ | async"
                                      [matBadgeHidden]="matBageShow$ | async" 
                                      matBadgeColor="warn"
                                      style="color: #73726c;"
                                      [matMenuTriggerFor]="menu"
                                      (click)="resetNotifications()" 
                                      aria-label="Example icon-button with a menu">
                                      notifications
                          </mat-icon>
                  </button>
              </div>
          </div>
      </mat-toolbar-row>
  </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu class="menu-cont" #menu="matMenu">
  <h1 style="padding: 0px 16px;">Notificaciones</h1>
  <p style="padding: 0px 16px 5px; border-bottom: solid 1px #e0e0e0;">Pedidos en curso</p>
  <div style="padding: 0px 16px;">
      <div    *ngIf="(stateOrder$ | async).length === 0" 
              style=" display: flex; 
                      align-items: center;
                      margin: 5px 0px; 
                      border-bottom: solid 1px #e0e0e0;">
                      <mat-card-subtitle>Aún no realizas una compra.</mat-card-subtitle>
      </div>
      <div    *ngFor="let stateOrder of stateOrder$ | async" 
              style=" display: flex; 
                      align-items: center;
                      margin: 5px 0px; 
                      border-bottom: solid 1px #e0e0e0;">
          <mat-icon style="color: #80ad55;">fiber_manual_record</mat-icon>
          <p style="margin: 0px; padding: 0px 5px;"> 
            <span>Orden N°: {{ stateOrder.idSell }}</span>
            <span> Hora: {{ stateOrder.date | date:'shortTime' }}</span><br>
            <span>Orden recibida</span>
          </p>
      </div>
  </div>
  <!-- Para implementar notificaciones de parte de las tiendas a los clientes -->
  <!-- <p style="  padding: 16px 16px 5px; 
              border-bottom: solid 1px #e0e0e0;">Información</p>
  <div style="padding: 0px 16px;">
      <div    *ngFor="" 
              style=" display: flex; 
                      align-items: center;
                      margin: 5px 0px; 
                      border-bottom: solid 1px #e0e0e0;">
          <mat-icon style="color: #80ad55;">shopping_basket</mat-icon>
          <p style="margin: 0px; padding: 0px 5px;"> 
              <span>Orden N°: {{ '' }} - </span><span>&nbsp;</span>
              <span>Fecha: {{ '' }}</span>
          </p>
      </div>
  </div> -->
</mat-menu>