<div *ngIf="(product$ | async) as product">
    <mat-card style="padding: 20px; margin: 20px 0px;">
        <mat-dialog-content style="margin: 0px;">
            <div class="row border-table middle-xs">
                <div class="col-xs-12 col-sm-6 col-md-6 img-cont">
                    <div>
                        <img [src]="product[0]?.imagen" alt="" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div>
                        <ul>
                            <li>
                                <mat-card-title>Nombre: {{ product[0]?.nombrearticulo }}</mat-card-title>
                            </li>
                            <li>
                                <mat-card-subtitle>Precio/unid: {{ product[0]?.valorventa | currency }}</mat-card-subtitle>
                            </li>
                        </ul>
                        <p>{{ product[0]?.descripcion }}</p>
                    </div>
                    <div class="actions-cont">
                       <app-btn-add-count [product]="product[0]"></app-btn-add-count> 
                    </div>
                </div>
            </div>
        </mat-dialog-content>
    </mat-card>
</div>