<div *ngIf="(product$ | async) as product">
    <mat-card style="padding: 0px; margin: 0px;">
        <div class="btn-close-cont">
            
            <div class="btn-close">
                <mat-card-title>Detalles del producto</mat-card-title>
                <mat-icon (click)="onNoClick()">highlight_off</mat-icon>
            </div>
         </div>
        <mat-dialog-content>
            <div class="content-cont">
                <div class="img-cont">
                    <img *ngIf="product[0]?.imagen !== ''" 
                        onerror="this.src = './../../../../assets/images/not-image.png'" 
                        [src]="product[0]?.imagen">
                    <img *ngIf="product[0]?.imagen ===''" src="./../../../../assets/images/not-image.png">
                </div>
                <div class="description-cont">
                    <div>
                        <mat-card-title>{{ product[0]?.nombrearticulo | titlecase }}</mat-card-title>
                        <ul>
                            <li>
                                <mat-card-subtitle>Precio/unid: {{ product[0]?.valorventa | currency }}</mat-card-subtitle>
                            </li>
                        </ul>
                        <p>Descripción: {{ product[0]?.descripcion | lowercase }}</p>
                    </div>
                    <div class="actions-cont">
                        <app-btn-add-count [product]="product[0]"></app-btn-add-count> 
                    </div>
                </div>
            </div>
        </mat-dialog-content>
    </mat-card>
</div>