div {
  mat-card {
    box-shadow: none !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    .btn-close-cont {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      mat-icon {
        padding: 10px 0px;
        cursor: pointer;
      }
    }
    .img-cont {
      text-align: center;
      img {
      height: 200px;
      @media (min-width: 768px) {
        height: 250px;
      }
    }
    }
    
    .actions-cont {
      width: 100%;
      @media (min-width: 768px) {
        width: 150px;
      }
    }
  }
}