div {
  mat-card {
    box-shadow: none !important;
    .img-cont {
      text-align: center;
      img {
      height: 200px;
      @media (min-width: 768px) {
        height: 250px;
      }
    }
    }
    
    .actions-cont {
      width: 100%;
      @media (min-width: 768px) {
        width: 150px;
      }
    }
  }
}