<div *ngIf="(product$ | async) as product">
    <a routerLink="/products" routerLinkActive="active">
        <mat-icon style="padding-top: 20px; 
            cursor: pointer;">
            arrow_back
        </mat-icon>
    </a>
    <mat-card style="padding: 20px; margin: 20px 0px;">
        <div class="row border-table middle-xs">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div>
                    <img [src]="product.image" alt="" style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div>
                    <ul>
                        <li>
                            <mat-card-title>Nombre: {{ product.title }}</mat-card-title>
                        </li>
                        <li>
                            <mat-card-subtitle>Precio/unid: {{ product.price | currency }}</mat-card-subtitle>
                        </li>
                    </ul>
                    <p>{{ product.description }}</p>
                </div>
                <button (click)="addCart()" mat-raised-button class="btn-add">
                    agregar
                </button>
                <app-counter-products 
                    style="cursor: pointer;"
                    [product]="product">
                </app-counter-products>
            </div>
        </div>
    </mat-card>
</div>
<app-banner-products [nameBanner]="nameBannerOne"></app-banner-products>
<app-banner-products [nameBanner]="nameBannerTwo"></app-banner-products>