.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-form-field {
    margin-top: 16px;
  }

.position-button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.margin-button {
    width: 100%;
}

.border-table {
    border-bottom: solid rgba(0,0,0,.12) 1px;
    margin-bottom: 10px;
}

.init-border {
    border-right: none;
}

/* address -- init */ 
.full-width {
    width: 100%;
  }
  
  .shipping-card {
    max-width: 450px;
    min-width: 120px;
    margin: 20px auto;
  }
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }

  .address-shadow {
    margin-bottom: 10px; 
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 
                0px 1px 0px 0px rgba(0, 0, 0, 0.14), 
                0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  }

  .cont-address {
    padding: 0px;
    max-width: 450px;
    box-shadow: none;
    margin: 10px auto 0px;
  }

/* address -- final */  

@media(min-width: 576px) {
    .margin-button {
        width: auto;
    }

    .position-button {
        text-align: right;
        margin-bottom: 0px;
    }

    /* .init-border {
        border-right: solid grey 2px;
    }
 */
    .border-table {
        padding: 10px;
        /* border-bottom: none; */
    }

    .super-border {
        border-top: solid grey 2px;
        border-bottom: solid grey 2px;
    }

    .final-border {
        border-top: solid grey 2px;
        border-bottom: solid grey 2px;
        border-right: solid grey 2px;
        border-radius: 0 10px 10px 0;
    }
}

mat-table {
  width: 100%;
  margin-top: 20px;
  box-shadow: none;
}

mat-row, mat-header-row {
  margin: 0px;
}

mat-cell, mat-header-cell {
  font-size: 12px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.summary-cont {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  mat-card {
    margin: 0px;
    max-width: 450px;
    box-shadow: none;
    padding: 16px 0px;
    align-self: center;
    @media (min-width: 700px) {
      margin: 10px auto;
      width: 450px;
    }
    .border {
      border: solid 1px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      margin: 5px 0px;
      padding: 10px;
      .aling-right {
        text-align: right;
      }
    }
  }

  .contact-cont {
    mat-card-header {
      justify-content: center;
    }
  }

  .address-cont {
    mat-card-header {
      justify-content: center;
    }
  }

  .order-cont {
    mat-card-header {
      justify-content: center;
    }
    .aling-right {
      text-align: right;
    }
    .p-right-16 {
      padding-right: 26px;
    }
    .font-style {
      font-size: 24px;
      color: #80ad55;
    }
    
  }
}