<mat-toolbar>
  <div>
    <mat-icon routerLink="/stores">
      storefront
    </mat-icon>
  </div>
</mat-toolbar>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel><mat-icon>shopping_cart</mat-icon></ng-template>
      <div class="position-button">
        <button class="margin-button" mat-stroked-button color="accent" matStepperNext>
          Continuar
          <mat-icon>
            navigate_next
          </mat-icon>
        </button>
      </div>

      <mat-card class="cont-detail-store" *ngFor="let store of order" style="margin-bottom: 20px;">
        <mat-card-title style="text-align: center; font-size: 16px;">{{ store.razonsocial }}</mat-card-title>
        <mat-table [dataSource]="store.products" class="mat-elevation-z8" style="border-radius: 20px; background: #ffffff00;">
          <!-- Image -->
          <ng-container class="img-cont" matColumnDef="imagen">
            <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
            <mat-cell *matCellDef="let products"><img style="margin: 10px 0px;" width="40px" [src]="products.imagen"></mat-cell>
          </ng-container>
  
          <!-- Name -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let products"> {{ products.nombrearticulo | lowercase }} </mat-cell>
          </ng-container>
  
          <!-- Quantity -->
          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;"> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let products" style="justify-content: center;"> {{ products.cant }} </mat-cell>
          </ng-container>
  
          <!-- Total -->
          <ng-container matColumnDef="total">
            <mat-header-cell style="justify-content: flex-end;" *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell style="justify-content: flex-end;" *matCellDef="let products"> {{ products.valorventa * products.cant | currency:'$':'symbol':'1.0-0' }} </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel><mat-icon>person_pin</mat-icon></ng-template>
      <div class="position-button">
        <button class="margin-button" mat-stroked-button color="accent" matStepperNext>
          Continuar
          <mat-icon>
            navigate_next
          </mat-icon>
        </button>
      </div>
      <mat-card class="cont-address">
        <mat-card class="shipping-card">
          <mat-card-header style="align-items: center; display: block;">
            <div *ngIf="( addresses$ | async ).length > 0">
              <mat-card-title style="text-align: center;">
                  Información cliente
              </mat-card-title>
            </div>
            <div *ngIf="( infoUser$ | async )?.identificacion !== ''">
              <mat-card-title style="text-align: right;">
                <a mat-button style="padding: 0px 5px;" 
                (click)="openDialogEditPhone()">
                  Editar celular 
                  <mat-icon style="color:#80ad55;">
                    smartphone
                  </mat-icon>
                </a>
              </mat-card-title>
            </div>
            <div>
              <mat-form-field class="full-width" *ngIf="( infoUser$ | async )?.identificacion === ''">
                <input  matInput
                        #identificacion
                        (keyup)="stateInputIdentificacion(identificacion.value)" 
                        placeholder="Identificación" 
                        formControlName="identificacion"
                        autocomplete="off"
                        cdkFocusInitial
                        type="text">
                <mat-error *ngIf="secondFormGroup.controls['identificacion'].hasError('required')">
                    Identificación es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" *ngIf="( infoUser$ | async )?.telefeno === ''">
                <input  matInput
                        #telefeno
                        (keyup)="stateInputTelefono(telefeno.value)" 
                        placeholder="N° de Celular" 
                        formControlName="telefono"
                        autocomplete="off"
                        type="text">
                <mat-error *ngIf="secondFormGroup.controls['telefono'].hasError('required')">
                    N° de celular es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="( infoUser$ | async )?.identificacion !== ''">
            <div class="row">
              <ul>
                <li>Identificación: {{ (infoUser$ | async)?.identificacion }}</li>
                <li>Celular: {{ (infoUser$ | async)?.telefeno }}</li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>
      <mat-card class="cont-address">
        <mat-card class="shipping-card">
          <mat-card-header style="align-items: center; display: block;">
            <div *ngIf="( addresses$ | async ).length > 0">
              <mat-card-title style="text-align: center;">
                  Selecciona una dirección
              </mat-card-title>
            </div>
            <div>
              <mat-card-title style="text-align: right;">
                <a mat-button style="padding: 0px 5px;" 
                (click)="openDialog()">
                  Agregar dirección 
                  <mat-icon style="color:#80ad55;">
                    add_circle
                  </mat-icon>
                </a>
              </mat-card-title>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="( addresses$ | async ).length === 0">
            Aun no tienes direccion para la entrega de tu orden. Agrega una.
          </mat-card-content>
          <mat-card-content *ngIf="( addresses$ | async ).length > 0">
            <div class="row">
              <div class="col">
                <mat-radio-group formControlName="direccion" required>
                  <mat-card *ngFor="let address of addresses$ | async" class="address-shadow">
                    <mat-radio-button (click)="selectAddress(address)" [value]="address">
                        {{ address.direccion | lowercase }}
                    </mat-radio-button>
                  </mat-card>
                </mat-radio-group>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>
      <!-- selección metodo de pago --init-- -->
      <!-- <mat-card class="cont-address">
        <mat-card class="shipping-card">
          <mat-card-header style="align-items: center; display: block;">
            <div>
              <mat-card-title style="text-align: center;">
                  Selecciona método de pago
              </mat-card-title>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="( addresses$ | async ).length > 0">
            <div class="row">
              <div class="col">
                <mat-radio-group formControlName="idPayment" required>
                  <mat-card class="address-shadow">
                    <mat-radio-button value=1>
                        Efectivo (Contraentrega)
                    </mat-radio-button>
                  </mat-card>
                  <mat-card class="address-shadow">
                    <mat-radio-button value=2>
                        Comprobante
                    </mat-radio-button>
                  </mat-card>
                </mat-radio-group>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card> -->
      <!-- selección metodo de pago --final-- -->
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel><mat-icon>assistant_photo</mat-icon></ng-template>
      <div class="position-button">
        <button class="margin-button" 
                mat-stroked-button 
                color="accent" 
                (click)="sendOrder()">
          Finalizar
          <mat-icon>
            turned_in_not
          </mat-icon>
        </button>
      </div>
      
      <div class="summary-cont">

        <mat-card class="contact-cont">
          <mat-card-header>
            <mat-card-title>Información de contacto</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="border" *ngIf="( infoUser$ | async )?.identificacion === ''">
              <p>Nombres: {{ (infoUser$ | async)?.nombres }}</p>
              <p>Apellidos: {{ (infoUser$ | async)?.apellidos }}</p>
              <p>Identificación: {{ identificacion }}</p>
              <p>Celular: {{ telefeno }}</p>
            </div>
            <div class="border" *ngIf="( infoUser$ | async )?.identificacion !== ''">
              <p>Nombres: {{ (infoUser$ | async)?.nombres }}</p>
              <p>Apellidos: {{ (infoUser$ | async)?.apellidos }}</p>
              <p>Identificación: {{ (infoUser$ | async)?.identificacion }}</p>
              <p>Celular: {{ (infoUser$ | async)?.telefeno }}</p>
            </div>
          </mat-card-content>
        </mat-card>
    
        <mat-card class="address-cont">
          <mat-card-header>
            <mat-card-title>Dirección de entrega</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="border">
              <p>{{ (address$ | async).direccion | lowercase }}<br>{{ (municipality$ | async)?.descripcion }}</p>
            </div>
          </mat-card-content>
        </mat-card>
    
        <mat-card class="order-cont">
          <mat-card-header>
            <mat-card-title>Resumen compra</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="border" *ngFor="let store of order">
              <p>{{ store.razonsocial }} <br> cantidad de productos añadidos: {{ store.products.length }}</p>
              <p class="aling-right">subTotal: {{ store.total | currency:'$':'symbol':'1.0-0' }}</p>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-subtitle class="aling-right p-right-16 font-style">Total: {{ totalPrice$ | async | currency:'$':'symbol':'1.0-0' }}</mat-card-subtitle>
          </mat-card-footer>
        </mat-card>

      </div>

      <div class="position-button">
        <button class="margin-button" 
                mat-stroked-button 
                color="accent"
                (click)="sendOrder()">
          Finalizar
          <mat-icon>
            turned_in_not
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>