<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Sus productos</ng-template>
      <div class="position-button">
        <button class="margin-button" mat-stroked-button color="accent" matStepperNext>
          Continuar
          <mat-icon>
            navigate_next
          </mat-icon>
        </button>
      </div>
      <mat-form-field style="display: none;">
        <input matInput formControlName="firstCtrl">
      </mat-form-field>
      <!-- List of products -- init -->
      <!-- <div class="aline-product" *ngIf="(products$ | async) as products">
        <p *ngIf="products.length === 0">no hay productos</p>
        <div class="row border-table middle-xs" *ngFor="let product of products">
          <div class="col-xs-12 col-sm-2 col-md-2 init-border">
            <div class="box">
              <img style="width: 100%;" class="image" [src]="product.imagen" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="box">
              <mat-card-subtitle>{{ product.nombrearitulo }}</mat-card-subtitle>
            </div>
            <div class="box">
              <mat-card-subtitle>{{ product.descripcion }}</mat-card-subtitle>
            </div>
            <div class="box">
              <mat-card-subtitle>Precio/und: {{ product.valorventa }}</mat-card-subtitle>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <div class="box">
              <mat-card-subtitle>Cant: {{ product.cant }}</mat-card-subtitle>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <div class="box">
              <mat-card-title>{{ product.valorventa * product.cant | currency}}</mat-card-title>
            </div>
          </div>
        </div>
      </div> -->

<mat-table [dataSource]="products$" class="mat-elevation-z8" style="border-radius: 20px; background: #ffffff00;">
  <!-- Position Column -->
  <ng-container class="img-cont" matColumnDef="imagen">
    <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
    <mat-cell *matCellDef="let products"><img style="margin: 10px;" width="40px" [src]="products.imagen"></mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let products"> {{ products.nombrearticulo | lowercase }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cantidad">
    <mat-header-cell *matHeaderCellDef style="justify-content: center;"> Cantidad </mat-header-cell>
    <mat-cell *matCellDef="let products" style="justify-content: center;"> {{ products.cant }} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
    <mat-cell *matCellDef="let products"> {{ products.valorventa * products.cant | currency }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

      <!-- List of products -- final -->
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Datos de entrega</ng-template>
      <div class="position-button">
        <button class="margin-button" mat-stroked-button color="accent" matStepperNext>
          Continuar
          <mat-icon>
            navigate_next
          </mat-icon>
        </button>
      </div>
      <!-- <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field> -->
      <mat-card class="cont-address">
        <mat-card class="shipping-card">
          <mat-card-header class="row between-xs middled-xs" style="align-items: center;">
            <div class="col">
              <mat-card-title style="text-align: center;">
                  Dirección
              </mat-card-title>
            </div>
            <div class="col">
              <mat-card-title style="text-align: center;">
                <a mat-button style="padding: 0px;" 
                (click)="openDialog()">
                  Agregar dirección 
                  <mat-icon style="color:#80ad55;">
                    add_circle
                  </mat-icon>
                </a>
              </mat-card-title>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-radio-group formControlName="secondCtrl" required>
                  <mat-card class="address-shadow">
                    <mat-radio-button value="free">{{'diagonal 8b #25-106'}} <br/> {{'Palmar'}}</mat-radio-button>
                  </mat-card>
                  <mat-card class="address-shadow">
                    <mat-radio-button value="priority">{{'Carrera 6a #15b-18'}} <br/> {{'El camello'}}</mat-radio-button>
                  </mat-card>
                  <mat-card class="address-shadow">
                    <mat-radio-button value="nextday">{{'Calle 16 #00-00'}} <br/> {{'Clemente arrieta'}}</mat-radio-button>
                  </mat-card>
                </mat-radio-group>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Metodo de pago</ng-template>
    <div class="position-button">
      <button class="margin-button" mat-stroked-button color="accent" matStepperNext>
        Finalizar
        <mat-icon>
          turned_in_not
        </mat-icon>
      </button>
    </div>
    <p>You are now done.</p>
    <a mat-button (click)="sendOrder()">Enviar pedido</a>
  </mat-step>
</mat-horizontal-stepper>