<mat-card class="cont-category">
    <mat-card-header>
        <div mat-card-avatar style="background-image: url({{store[0].imagen}});
        background-size: cover;">
            <img *ngIf="store[0].imagen ==='' || store[0].imagen === null || store[0].imagen === undefined" src="./../../../../assets/images/icon-store.png">
        </div>
        <mat-card-title>
            {{ store[0].razonsocial | titlecase }}
        </mat-card-title>
    </mat-card-header>

    <h1 class="title" routerLink="/products">Categorias
        <mat-icon class="icon-category">category</mat-icon>
    </h1>
    <div class="category">
        <p *ngFor="let catProd of categoriasProductos">{{catProd}}</p>
        <p><b>Ver mas...</b></p>
    </div>
</mat-card>