<div class="cont-category scroll-sidebar">
    <!-- <mat-card-header>
        <div mat-card-avatar style="background-image: url({{store[0].imagen}});
        background-size: cover;">
            <img *ngIf="store[0].imagen ==='' || store[0].imagen === null || store[0].imagen === undefined" src="./../../../../assets/images/icon-store.png">
        </div>
        <mat-card-title>
            {{ store[0].razonsocial | titlecase }}
        </mat-card-title>
    </mat-card-header> -->
    <img *ngIf="store[0].imagen ===''       || 
                store[0].imagen === null    || 
                store[0].imagen === undefined; else imgstore" 
                src="./../../../../assets/images/icon-store.png">
    <ng-template #imgstore>
        <img [src]="store[0].imagen">
    </ng-template>
    <mat-card-header>
        <mat-card-title>
            {{ store[0].razonsocial | titlecase | slice:0:20 | moreContent:19 }}
        </mat-card-title>
        <span class="tag" *ngIf="(qualificationStore$ | async) !== -1" [matMenuTriggerFor]="aboveMenu">
            Puntuación: {{ qualificationStore$ | async | currency:'':'':'1.2-2' }} de 5.00
        </span>
        <span class="tag" *ngIf="(qualificationStore$ | async) === -1" [matMenuTriggerFor]="aboveMenu">
            Puntuación: tienda sin puntuación
        </span>
    </mat-card-header>

    <div class="info-cont">
        <div (click)="openDialogBusinessHours()" style="cursor: pointer;">
            <mat-icon>schedule</mat-icon>
            <p *ngIf="availabilityStore">
                Horario de atención: <br/> 
                {{ (currentBusinessHours$ | async)?.horaini | date:'H:mm' }} - 
                {{ (currentBusinessHours$ | async)?.horafin | date:'H:mm' }}
            </p>
            <p *ngIf="!availabilityStore">
                Horario de atención: cerrado
            </p>
        </div>
        <div>
            <mat-icon>local_atm</mat-icon>
            <p>
                Compra mínima: 
                {{ store[0].valormin | currency:'$':'symbol':'1.0-0' }}
            </p>
        </div>
        <div >
            <mat-icon>moped</mat-icon>
            <p *ngIf="store[0].valordomicilio > 0">
                Valor domicilio: 
                {{ store[0].valordomicilio | currency:'$':'symbol':'1.0-0' }}
            </p>
            <p *ngIf="store[0].valordomicilio === 0">
                Valor domicilio: gratis
            </p>
        </div>
        <div>
            <mat-icon>phone</mat-icon>
            <p>
                Celular: {{ store[0]?.telefono }}
            </p>
        </div>
        <!-- <div><mat-icon>mail</mat-icon><p>E-mail: {{ store[0]?.email }}</p></div> -->
    </div>

    <h1 class="title" >Categorias
        <mat-icon class="icon-category">category</mat-icon>
    </h1>
    <ul class="category">
        <li *ngFor="let catProd of categoriasProductos$ | async"
            [routerLink] 
            [fragment]="'seccion'+catProd.id" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a>
                {{ catProd.descripcion | titlecase}}
            </a>
        </li>
        <!-- <p><b>Ver mas...</b></p> -->
    </ul>
</div>

<!-- menu qualification -->
<mat-menu #aboveMenu="matMenu" yPosition="above">
    <a mat-button class="btn-style">
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover1 === '1' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal1()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(1)">
                    star_border
        </mat-icon>
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover2 === '2' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal2()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(2)">
                    star_border
        </mat-icon>
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover3 === '3' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal3()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(3)">
                    star_border
        </mat-icon>
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover4 === '4' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal4()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(4)">
                    star_border
        </mat-icon>
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover5 === '5' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal5()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(5)">
                    star_border
        </mat-icon>
    </a>
</mat-menu>