.cont-category {
    position: fixed;
    width: 225px;
    height: auto;
    display: none;
    margin-top: 5px;
    border-radius: 20px;
    @media (min-width: 700px) {
        display: inline-block;
    }
    mat-card-header {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        mat-card-title {
            margin: 10px 0px;
            font-size: 20px;
            margin: 0px;
            padding: 0px;
        }
    }
    .title {
        // display: flex;
        display: none;
        color: white;
        font-size: 16px;
        margin-bottom: 0px;
        align-items: center;
        justify-content: center;
        background-color: #c6c6c6;
        cursor: pointer;
        .icon-category {
            color: white;
            display: flex;
            padding: 0px 10px;
        }
    }
    .category {
        margin: 20px 0px;
        p {
            margin: 10px 10px 0px 10px;
            padding: 5px 0px;
            font-size: 16px;
            border-bottom: solid 1px #c6c6c6;
            color: #8d8d8d;
            cursor: pointer;
            &:hover {
                color: black;
                background-color: #f5f5f5;
            }
        }
    }
}