.cont-category {
    position: fixed;
    width: 225px;
    height: auto;
    max-height: 70vh;
    display: none;
    // margin-top: 5px;
    border-radius: 20px;
    overflow: auto;
    @media (min-width: 700px) {
        display: inline-block;
    }
    mat-card-header {
        display: block;
        align-items: center;
        margin: 10px 0px 20px;
        text-align: center;
        mat-card-title {
            margin: 10px 0px;
            font-size: 25px;
            margin: 0px 0px 5px;
            padding: 0px;
        }
        .tag {
            font-size: 10px;
            background-color: lightslategray;
            border-radius: 5px;
            text-align: center;
            padding: 0px 5px;
            color: white;
            cursor: pointer;
        }
    }
    .info-cont {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 10px;
        div {
            display: flex;
            align-items: center;
            margin: 5px 0px;
            mat-icon {
                margin-right: 5px;
            }
            p {
                margin: 5px 0px;
            }
        }
    }
    .title {
        display: flex;
        font-size: 16px;
        margin-bottom: 0px;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        .icon-category {
            display: flex;
            padding: 0px 10px;
        }
    }
    .category {
        margin: 0px;
        padding: 0px;
        li {
            margin: 0px 10px 0px 10px;
            padding: 5px 0px;
            font-size: 16px;
            border-bottom: solid 1px #e0e0e0;
            list-style: none;
            cursor: pointer;
            &:hover {
                color: black;
                background-color: #f5f5f5;
            }
            a {
                text-decoration: none;
                color: #8d8d8d;
            }
        }
    }
}

.cont-category::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    // display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.cont-category::-webkit-scrollbar-thumb {
    // background: #dfdfdf;
    background: white;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.cont-category::-webkit-scrollbar-thumb:hover {
    background: #dfdfdf;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.cont-category::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.cont-category::-webkit-scrollbar-track {
    margin: 20px 0px;
    background: white;
    border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
.cont-category::-webkit-scrollbar-track:hover,
.cont-category::-webkit-scrollbar-track:active {
  // background: #e7e7e7;
  background: white;
}