.cont-category {
    //position: fixed;
    //width: 100%;
    height: auto;
    padding: 20px;
    //max-height: 70vh;
    //display: none;
    // margin-top: 5px;
    //border-radius: 20px;
    overflow: auto;
    /* @media (min-width: 700px) {
        display: inline-block;
    } */
    mat-card-header {
        display: block;
        align-items: center;
        margin: 10px 0px 20px;
        text-align: center;
        mat-card-title {
            margin: 10px 0px;
            font-size: 25px;
            margin: 0px 0px 5px;
            padding: 0px;
        }
        .tag {
            font-size: 10px;
            background-color: lightslategray;
            border-radius: 5px;
            text-align: center;
            padding: 0px 5px;
            color: white;
            cursor: pointer;
        }
    }
    .info-cont {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 10px;
        div {
            display: flex;
            align-items: center;
            margin: 5px 0px;
            mat-icon {
                margin-right: 5px;
            }
            p {
                margin: 5px 0px;
            }
        }
    }
    .title {
        display: flex;
        font-size: 16px;
        margin-bottom: 0px;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        .icon-category {
            display: flex;
            padding: 0px 10px;
        }
    }
    .category {
        margin: 0px;
        padding: 0px;
        li {
            margin: 0px 10px 0px 10px;
            padding: 5px 0px;
            font-size: 16px;
            border-bottom: solid 1px #e0e0e0;
            list-style: none;
            cursor: pointer;
            &:hover {
                color: black;
                background-color: #f5f5f5;
            }
            a {
                text-decoration: none;
                color: #8d8d8d;
            }
        }
    }
}