mat-toolbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    div {
        flex: auto;
        text-align: right;
        mat-icon {
            color: rgba(0,0,0,.54);
            font-size: 24px;
            cursor: pointer;
        }
    }
}
.cont-suggested {
    display: inline-flex;
    width: 100%;
    height: auto;
    //background-image: url("https://media.istockphoto.com/vectors/background-with-business-icons-vector-id861007608?b=1&k=6&m=861007608&s=170667a&w=0&h=jhN6quIVGVGri3XkE0Fw8wBF9K7Bjgmbhar925UiM90=");
    //background: linear-gradient(-45deg, #f3006d0d, white);
    @media (max-width: 700px) {
        display: block;
    }
    .cont-info {
        width: 50%;
        @media (max-width: 700px) {
            width: 100%;
        }
        header {
            padding: 20px;
            .title {
                text-align: center;
                color: #f3006d;
                font-size: 36px;
                font-weight: bold;
                line-height: normal;
            }
        }
        .content {
            padding: 20px;
            font-size: 32px;
            line-height: normal;
            text-align: left;
            font-weight: bold;
            section {
                margin-bottom: 20px;
            }
            .color-primary {
                color: #f3006d;
            }
            .color-white {
                color: #0000008a;
            }
        }
    }
    .cont-form {
        width: 50%;
        @media (max-width: 700px) {
            width: 100%;
        }
        form {
            mat-card {
                margin: 10px !important;
                @media (max-width: 700px) {
                    margin: 0px !important;
                    box-shadow: none;
                    border-radius: 0px;
                }
                mat-card-header {
                    justify-content: center;
                    mat-card-title {
                        padding: 20px 0px;
                        margin: 0px 0px 20px;
                        font-size: 24px;
                        color: #f3006d;
                        font-weight: bold;
                        text-align: center;
                        line-height: normal;
                    }
                }
                mat-card-content {
                    text-align: center;
                    .col-xs-cont {
                        padding-right: 1.5rem; 
                        padding-left: 1.5rem;
                        font-size: 16px;
                        .title {
                            padding: 10px 0px;
                            margin-bottom: 20px;
                            border-bottom: 1px solid #e0e0e0;
                            font-size: 16px;
                        }
                        .input-g {
                        width: 100%;
                        }
                        .input-c2-1 {
                            width: 65%;
                        }
                        .input-c2-2 {
                            width: 34%;
                            margin-left: 1%;
                        }
                        .input-c3-1 {
                            width: 15%;
                        }
                        .input-c3-2 {
                            width: 49%;
                            margin-left: 1%;
                        }
                        .input-c3-3 {
                            width: 34%;
                            margin-left: 1%;
                        }
                        .col-cont {
                            display: flex;
                            text-align: center;
                            .upload{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-top: 10px;
                                padding: 10px;
                                background: white;
                                color: #808080;
                                border:1px solid #0000001f;
                                border-radius: 5px;
                                width: 100%;
                                height: 46px;
                                font-weight: 900;
                                cursor: pointer;
                                mat-icon {
                                    margin-right: 15px;
                                    padding: 0px;
                                    font-size: 22px;
                                }
                                &:hover {
                                    color:#ff4081;
                                    background: #ff569113;
                                }
                            }
                            .inputImg {
                                width: 0.1px;
                                height: 0.1px;
                                opacity: 0;
                                overflow: hidden;
                                position: absolute;
                                z-index: -1;
                            }
                        }
                    }
                    
                }
                mat-card-actions {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    button {
                        padding: 0px 20px;
                        width: 100%;
                        height: 50px;
                        margin: 0px 16px;
                        font-size: 20px;
                    }
                    .btnActive {
                        background-color: #4d90d3;
                        color: white;
                        &:hover {
                            background-color: #396a9b;
                        }
                    } 
                }
            }
        }
    }
}