mat-card {
    margin: 0px;
    box-shadow: none !important;
    @media (min-width: 700px) {
        margin: 16px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
                    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    .action-buttons {
        padding-bottom: 20px;
        button {
            margin-right: 8px;
        }
    }
    
    .headers-align .mat-expansion-panel-header-title,
    .headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    }
    
    .headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }
    
    .headers-align .mat-form-field + .mat-form-field {
        margin-left: 8px;
    }

    mat-form-field {
        margin: 0px !important;
        width: 100%;
    }
    table {
        width: 100%;
        box-shadow: none !important;
                    th {
                        text-align: left;
                        padding-left: 5px;
                        @media (min-width: 700px) {
                            text-align: left;
                            padding-left: 24px;
                        }
                    }
                    td {
                        padding: 0px 5px;
                        @media (min-width: 700px) {
                            padding-left: 24px;
                        }
                        a {
                            min-width: 0px !important;
                            padding: 0px 5px !important;
                        }
                    }
                    .aling-action {
                        text-align: right;
                    }
    }
}

.btn-save {
    margin-top: 20px;
    width: 100%;
}
.btnActive {
    background-color: #4d90d3;
    color: white;
    &:hover {
        background-color: #396a9b;
    }
}

.example-viewport {
    height: 100%;
    width: 100%;
}
  
.example-item {
    height: 50px;
}