form {
    mat-card {
        margin: 10px;
        mat-card-header {
            justify-content: center;;
        }
        mat-card-content {
            text-align: center;
            .col-xs-cont {
                padding-right: 1.5rem; 
                padding-left: 1.5rem;
                .input-g {
                width: 100%;
                }
            }
        }
        mat-card-actions {
            text-align: center;
            button {
                padding: 0px 20px;
            } 
        }
    }
}