<form [formGroup]="form" (ngSubmit)="saveAddress($event)">
    <mat-card class="shipping-card">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>Nueva dirección</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Dirección" formControlName="direccion"></textarea>
                        <mat-error *ngIf="form.controls['direccion'].hasError('required')">
                            Dirección es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Municipio" formControlName="idmunicipio">
                            <mat-option *ngFor="let municipality of municipalities" [value]=municipality.id>{{municipality.descripcion}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls['idmunicipio'].hasError('required')">
                            Departamento es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button mat-dialog-close type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>