<mat-card *ngFor="let order of orderDetail$ | async">
    <mat-card-header>
        <mat-card-title>Detalles de la Orden</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span><strong>Orden N°:</strong> {{ order.id }}</span><br>
        <span><strong>Nombre:</strong> {{ order.nombres | titlecase }}</span><span> {{ order.apellidos | titlecase }}</span><br>
        <span><strong>CC</strong> {{ order.identificacion }}</span><br>
        <span><strong>Celular:</strong> {{ order.telefeno }}</span><br>
        <span><strong>Dirección de entrega:</strong> {{ order.direccion | lowercase }}</span><br>
        <span><strong>E-mail:</strong> {{ order.email | lowercase }}</span><br>
        <span><strong>Fecha:</strong> {{  order.fechaventa | date:'shortDate' }} </span><span><strong>Hora:</strong> {{ order.horaventa }}</span><br>

        <table mat-table [dataSource]="order.products" class="mat-elevation-z8 product-table">
            <ng-container matColumnDef="Codigo">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let product">
                    {{ product.codigo }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let product">
                    {{ product.nombrearticulo | lowercase }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Cantidad">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 0px;"> Cantidad </th>
                <td mat-cell *matCellDef="let product" style="text-align: center; padding: 0px;">
                    {{ product.cantidad }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Subtotal">
                <th mat-header-cell *matHeaderCellDef style="text-align: right; padding: 0px 5px;"> Subtotal </th>
                <td mat-cell *matCellDef="let product" style="text-align: right;">
                    {{ product.subtotal | currency:'$':'symbol':'1.0-0' }}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>
    <footer>
        <mat-card-subtitle>Total: {{ order.valortotal | currency:'$':'symbol':'1.0-0' }}</mat-card-subtitle>
    </footer>
</mat-card>
