<div class="category-cont">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div    *ngFor="let tag of store[0].tags" 
                    class="swiper-slide title-tag" 
                    [routerLink] 
                    [fragment]="'seccion'+tag.id" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <mat-card-subtitle>{{ tag.descripcion }}</mat-card-subtitle>
            </div>
        </div>
    </div>
</div>
<!-- Swiper -->

