div {
    mat-card {
        box-shadow: none !important;
        div {
            text-align: center;
            justify-content: center;
            padding: 0px !important;
            margin: 0px !important;
            h1 {
                font-size: 24px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }
            p {
                font-size: 16px;
            }
        }
    }
}