<div *ngFor="let tag of tags">
    <div *ngIf="tag.products?.length !== 0 && tag.products !== undefined" class="products-cont">
        <mat-card-subtitle class="title-tag" [id]="'seccion'+tag.id">{{ tag.descripcion }}</mat-card-subtitle>
        <div class="product-grid" ClassName="container">
            <app-product    *ngFor="let product of tag.products" 
                            [product]="product">
            </app-product>
            <app-product-movil  *ngFor="let product of tag.products" 
                                [product]="product">
            </app-product-movil>
        </div>
    </div>
    
</div>