<!--Content component -- init -->
<mat-sidenav-content>
    <!-- <div *ngIf="windowWidth >= 475">
        <div class="aline-product" *ngIf="(sideBarOpen$ | async) as sideBarOpen">
            <div 
            class="container-shown" 
            *ngIf="sideBarOpen === true" 
            (click)="toggleSideBar()">
            </div>
        </div>
    </div> -->
    <div class="product-grid" ClassName="container">
        <app-product *ngFor="let product of products" [product]="product">
        </app-product>
        <app-product-movil *ngFor="let product of products" [product]="product"></app-product-movil>
    </div>
</mat-sidenav-content>
<!--Content component -- final -->