<div class="product-table">
    <button mat-stroked-button color="accent" routerLink="create">Crear nuevo producto</button>
</div>
<table mat-table [dataSource]="products" class="mat-elevation-z8 product-table">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
    </ng-container>
    <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let product"> {{product.nombrearticulo}} </td>
    </ng-container>
    <ng-container matColumnDef="Imagen">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let product">
            <img [src]="product.imagen" alt="image product" width="50px" style="margin: 5px 0px;">
        </td>
    </ng-container>
    <ng-container matColumnDef="Precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let product"> {{product.valorventa | currency:'$':'symbol':'1.0-0'}} </td>
    </ng-container>
    <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let product"> 
            <a mat-button
            [routerLink]="['edit', product.id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
            <a mat-button
            (click)="deleteProduct(product.id)">
                <mat-icon color="warn">delete_outline</mat-icon>
            </a>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

