mat-card {
    width: 100%;
    padding-top: 24px;
    border-radius: 20px;
}

mat-card-header {
    height: 80px;
}

mat-card-content {
    text-align: center;
    height: 40px;
    margin-top: 10px;
}

mat-card-actions>button {
    border-radius: 20px;
}

.show {
    box-shadow: 0px 0px 4px 2px rgba(115, 114, 108, 0.4);
}

.title-style {
    cursor: pointer;
}

.cont-actions>button {
    bottom: 0px;
    width: 100%;
}

.crop-image {
    display: flex;
    height: 125px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        height: 100%;
    }
}

.btn-add {
    background-color: #4d90d3;
    color: white;
}

.cont-actions :hover {
    background-color: #396a9b;
    color: white;
}

.favorite-cont {
    width: 50px;
    display: flex;
    justify-content: center;
    mat-icon {
        font-size: 22px;
    }
    .notFavorite {
        color: rgba(0, 0, 0, 0.12);
    }
    .favorite {
        color: #ff4081;
    }
    .position-favorite {
        z-index: 1;
        text-align: center;
    }
    .non-selectable {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}