<div class="container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Productos">
            <!-- <div style="background-color: #f9fafc; width: 100%; height: 10px;"></div> -->
            <h1 class="message" *ngIf="messageProducts">Lo sentimos, no hemos encontrado productos en tu busqueda</h1>
            <div class="product-grid" ClassName="container">
                <app-product *ngFor="let product of products" [product]="product">
                </app-product>
                <app-product-movil *ngFor="let product of products" [product]="product"></app-product-movil>
            </div>
            <div *ngIf="hiddenPaginationProducts" class="action-btn">
                <!-- <div (click)="seeMore()">Ver mas</div> -->
                <div (click)="paginationPrevious()"><mat-icon>keyboard_arrow_left</mat-icon></div>
                <div (click)="btnOne()" [ngClass]="{'btnPageSelect': stateBtnOne}">{{ btnPageOne }}</div>
                <div (click)="btnTwo()" [ngClass]="{'btnPageSelect': stateBtnTwo}">{{ btnPageTwo }}</div>
                <div (click)="btnThree()" [ngClass]="{'btnPageSelect': stateBtnThree}">{{ btnPageThree }}</div>
                <div (click)="paginationNext()"><mat-icon>keyboard_arrow_right</mat-icon></div>
            </div>
        </mat-tab>
        <mat-tab label="Tiendas">
            <!-- <div style="background-color: #f9fafc; width: 100%; height: 10px;"></div> -->
            <h1 class="message" *ngIf="messageStores">Lo sentimos, no hemos encontrado tiendas en tu busqueda</h1>
            <app-banner-stores *ngFor="let store of stores" [store]="store"></app-banner-stores>
            <div *ngIf="hiddenPaginationStores" class="action-btn">
                <!-- <div (click)="seeMore()">Ver mas</div> -->
                <div (click)="paginationPreviousStores()"><mat-icon>keyboard_arrow_left</mat-icon></div>
                <div (click)="btnOneStores()" [ngClass]="{'btnPageSelect': stateBtnOneStore}">{{ btnPageOneStore }}</div>
                <div (click)="btnTwoStores()" [ngClass]="{'btnPageSelect': stateBtnTwoStore}">{{ btnPageTwoStore }}</div>
                <div (click)="btnThreeStores()" [ngClass]="{'btnPageSelect': stateBtnThreeStore}">{{ btnPageThreeStore }}</div>
                <div (click)="paginationNextStores()"><mat-icon>keyboard_arrow_right</mat-icon></div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
