<footer>
    <div class="container cont-back-color">
        <div class="row">
            <div class="col-cont-1">
                <div style="width: 75px;">
                    <img src="./../../../../assets/images/logo1.png" routerLink="/home" alt="logo">
                </div>
            </div>
            <div class="col-cont">
                <h3><b>Ayuda</b></h3>
                <ul>
                    <li><a routerLink="/products">Vender</a></li>
                    <li><a routerLink="/products">Comprar</a></li>
                    <li><a routerLink="/home">Contáctanos</a></li>
                    <li><a (click)="openDialogLogin()">Mi tienda</a></li>
                </ul>
            </div>
            <div class="col-cont">
                <h3><b>Acerca de</b></h3>
                <ul>
                    <li><a routerLink="/home">ema</a></li>
                    <li><a routerLink="/stores">Fuentech</a></li>
                    <li><a routerLink="/stores">Políticas</a></li>
                    <li><a routerLink="/stores">Condiciones</a></li>
                </ul>
            </div>
            <div class="col-cont">
                <h3><b>Mi cuenta</b></h3>
                <ul>
                    <li><a routerLink="/user">Perfil</a></li>
                    <li><a routerLink="/user/address">Direcciones</a></li>
                    <li><a routerLink="/user/orders">Pedidos</a></li>
                    <li><a routerLink="/user/subscriptions">Suscripciones</a></li>
                </ul>
            </div>
            <div class="col-cont-1" style="text-align: center; align-items: center;">
                <a href="https://www.facebook.com/FuenTechFT/"><img src="./../../../../assets/images/FB128x128.png" style="padding: 5px 5px;" width="30px" height="30px" alt="redes"></a>
                <a href="https://www.instagram.com/fuentechoficial/"><img src="./../../../../assets/images/INS128x128.png" style="padding: 5px 5px;" width="30px" height="30px" alt="redes"></a>
                <a href="https://wa.me/573217802164"><img src="./../../../../assets/images/WA128x128.png" style="padding: 5px 5px;" width="30px" height="30px" alt="redes"></a>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="copyright">
                    <mat-card-subtitle>© 2020 ema, Inc. All rights reserved·Privacidad·Términos</mat-card-subtitle>
                </div>
            </div>
        </div>
    </div>
</footer>