@import '~@angular/material/theming';
$primary: mat-palette($mat-indigo);
footer {
    padding: 20px 0px 0px 0px;
    margin-top: 0px;
    // margin-bottom: 56px;
    border-top: solid 1px #dbdcdd;
    /* background-color: mat-color($primary); */
    background-color: white;
    @media (min-width: 700px) {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    div {
        div {
            .col-cont-1 {
                padding: 0px 20px;
                width: 100%;
                display: flex;
                justify-content: center;
                @media (min-width: 700px) {
                    padding: 0px;
                    width: 20%;
                    align-items: center;
                }
            }
            .col-cont {
                text-align: center;
                width: 50%;
                @media (min-width: 700px) {
                    text-align: left;
                    padding: 0px;
                    width: 20%;
                }
            }
            img {
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
        }
        h3 {
            color: rgba(0, 0, 0, .54);
        }
        input {
            color: rgba(0, 0, 0, .54);
        }
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
                margin: 3px 0px;
                a {
                    text-decoration: none;
                    color: rgba(0, 0, 0, .54);
                    cursor: pointer;
                }
            }
        }
    }
}

.cont-back-color {
    background-color: white;
}

.copyright {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 20px 20px;
}