<div class="product-movil-cont">
    <div class="img-cont">
        <div class="crop-image" (click)="openDialogDetailProduct()">
            <img *ngIf="product?.imagen !== ''" onerror="this.src = './../../../../assets/images/not-image.png'"
                [src]="product?.imagen">
            <img *ngIf="product?.imagen ===''" src="./../../../../assets/images/not-image.png">
        </div>
    </div>
    <div class="text-cont">
        <mat-card-subtitle>
            <div class="logo-title-cont">
                <div [routerLink]="['/stores', product?.idststore]" class="logo-cont" style="background-image: url({{product?.imagent}});">
                    <img *ngIf="product?.imagent ==='' || product?.imagent ===null || product?.imagent === undefined" src="./../../../../assets/images/icon-store.png">
                </div>
                <strong (click)="openDialogDetailProduct()" class="title">{{ product?.nombrearticulo | titlecase | slice:0:40 | moreContent:39 }}</strong>
            </div><br>
            
            <span class="inf-cont-1">{{ product?.descripcion | lowercase | slice:0:60 | moreContent:59 }}</span> <br>
            <h2 class="inf-cont-2">{{ product?.valorventa | currency:'COP$':'symbol':'1.0-0' }}</h2>
            <app-btn-add-count [product]="product"></app-btn-add-count>
        </mat-card-subtitle>
    </div>
</div>
