.navbar-fixed-top {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.sidenav-container {
    background-color: #dadde1;
    @media (min-width: 700px) {
        background-color: #fafafa;
    }
}

/* sidenav desplegable Derecho -- init -- */

.sidenav {
    position: fixed;
    width: 100%; // 90% o 100%
    //height: 100%;
    margin-top: 56px;
    padding-top: 56px;
    padding-bottom: 46px;
    z-index: 750;
}

@media(min-width: 600px) {
    .sidenav {
        width: 450px;
        margin-top: 64px;
        /* padding-top: 45px; */
        padding-top: 56px;
        padding-bottom: 46px;
        bottom: 0px;
    }
}
/* sidenav desplegable Derecho -- final -- */
/* sidenav desplegable izquierdo -- init */

.sidenav-izq {
    //width: 225px;
    margin-top: 64px;
    position: fixed;
    //height: 100%;
    //padding-bottom: 46px; // para menu bottom sobre sidebar
    z-index: 750;
    box-sizing: content-box;
    @media (max-width: 600px) {
        margin-top: 56px;
    }
}
/* sidenav desplegable izquierdo -- final -- */

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

/* app-footer {
    display: none;
    @media (min-width: 1120px) {
        display: block;
    }
} */