<mat-sidenav-container class="sidenav-container" hasBackdrop="true" autosize>
    <mat-sidenav-content class="sidenav-content" style="display: contents">
        <app-header *ngIf="!(displayHeader$ | async)" [mostrar]="show" [mostrar2]="show2"></app-header>
        <app-header-search *ngIf="(displayHeader$ | async)"></app-header-search>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="space" style="width: 100%; height: 56px;"></div> -->
        <!-- <app-nav-movil [mostrar]="show" [mostrar2]="show2"></app-nav-movil> -->
        <app-footer *ngIf="(displayFooter$ | async)"></app-footer>
    </mat-sidenav-content>
    <mat-sidenav #show position="end" class="sidenav" mode="over">
        <app-cart [mostrar]="show" #show></app-cart>
    </mat-sidenav>
    <mat-sidenav #show2 class="sidenav-izq" mode="side">
        <app-sidenav [mostrar2]="show2" #show2></app-sidenav>
    </mat-sidenav>
</mat-sidenav-container>