<mat-sidenav-container class="example-container" hasBackdrop="true" autosize>
    <mat-sidenav-content style="display: contents">
        <app-header [mostrar]="show" [mostrar2]="show2"></app-header>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        <div style="width: 100%; height: 56px;"></div>
        <app-nav-movil [mostrar]="show" [mostrar2]="show2"></app-nav-movil>
        <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>
    <mat-sidenav #show position="end" class="sidenav" mode="over">
        <app-cart [mostrar]="show" #show></app-cart>
    </mat-sidenav>
    <mat-sidenav #show2 class="sidenav-izq" mode="side">
        <app-sidenav [mostrar2]="show2" #show2></app-sidenav>
    </mat-sidenav>
</mat-sidenav-container>