<div class="navbar-cont">
    <mat-toolbar>
        <mat-toolbar-row>
            <div class="row between-xs middled-xs header-row">
                <button mat-icon-button (click)="mostrar2.toggle()" (click)="showIconMenu()">
                    <mat-icon style="color: #73726c;">menu</mat-icon>
                    <span>Menu</span> 
                </button>
                <button mat-icon-button routerLink="/stores" routerLinkActive="active">
                    <mat-icon style="color: #73726c;">storefront</mat-icon>
                    <span>Tiendas</span> 
                </button>
                <button mat-icon-button>
                    <mat-icon style="color: #73726c;">search</mat-icon>
                    <span>Buscar</span> 
                </button>
                <button mat-icon-button routerLink="/products" routerLinkActive="active">
                    <mat-icon style="color: #73726c;">widgets</mat-icon>
                    <span>Productos</span> 
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon style="color: #73726c;">account_circle</mat-icon>
                    <span>Usuario</span> 
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<!-- menu user --init-- -->

<mat-menu class="mat-menu" #menu="matMenu">
    <div style="display: flex; border-bottom: solid 1px rgba(0,0,0,.25); padding: 0px 10px;">
        <div class="icon-face">
            <mat-icon style="font-size: 40px;color: grey; width: 41px; padding: 0px 6px 0px 0px;">sentiment_satisfied_alt</mat-icon>
        </div>
        <div class="content-user">
            <span class="name-user">Hola, Ema</span><br>
            <span class="btn-perfil" style="font-size: 12px;">ver Perfil</span>
        </div>
    </div>
    <button mat-menu-item>
      <mat-icon>list_alt</mat-icon>
      <span>Listas guardadas</span>
    </button>
    <button mat-menu-item>
      <mat-icon>location_on</mat-icon>
      <span>Direcciones</span>
    </button>
    <button mat-menu-item>
        <mat-icon>loyalty</mat-icon>
        <span>Pedidos</span>
      </button>
    <button mat-menu-item style="border-top: solid 1px rgba(0,0,0,.25);">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
</mat-menu>

<!-- menu user --final-- -->