div {
    .title-cont {
        display: flex;
        align-items: center;
        border-bottom: solid 1px #e0e0e0;
        padding: 20px;
        .info-cont {
            mat-card-title {
                color: gray;
                padding: 0px 8px;
                margin: 0px;
                cursor: pointer;
                font-size: 16px;
            }
            .tag-cont {
                margin-left: 8px;
                .tag {
                    font-size: 10px;
                    border-radius: 5px;
                    text-align: center;
                    padding: 0px 5px;
                    margin-right: 5px;
                }
                .tag-color-gray {
                    background-color: lightslategray;
                    color: white;
                }
                .tag-color-green {
                   background-color:#54a954;
                   color: white; 
                }
                .tag-color-red {
                    background-color: #ff2b2b;
                    color: white; 
                }
                .tag-color-blue {
                    background-color: #3434ff;
                    color: white; 
                }
            }
        }
    }
}