<app-banner></app-banner>
<form class="form-btn-search">
    <div class="cont-btn-search">
        <input class="btn-search" type="text" autocomplete="off" matInput placeholder="Buscar...">
        <mat-label class="label-btn-search">
            <mat-icon style="color: #b1b1b1; font-size: 35px;">search</mat-icon>
        </mat-label>
    </div>
</form>
<div style="text-align: center; padding: 20px;">
    <h1>Planes de suscripción</h1>
    <div class="subscription-product-grid">
        <app-subscription-plans *ngFor="let subscription of subscriptions" [subs]="subscription">
        </app-subscription-plans>
    </div>
</div>