/* address -- init */

.full-width {
    width: 100%;
}

.shipping-card {
    max-height: 360px;
    overflow: auto;
    min-width: 120px;
    margin: 10px;
    box-shadow: none;
}

.loading-cont {
    justify-content: center;
    display: flex;
    padding: 20px;
}

.mat-radio-button {
    display: block;
    margin: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.address-shadow {
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.cont-address {
    width: 450px;
    box-shadow: none;
    margin: 0px auto;
}

/* address -- final */

mat-form-field {
    margin: 0px !important;
    width: 100%;
}

.btn-save {
    margin-top: 20px;
    width: 100%;
}
.btnActive {
    background-color: #4d90d3;
    color: white;
    &:hover {
        background-color: #396a9b;
    }
}
