<mat-card class="shipping-card">
    <!-- <div class="btn-close-cont" style="text-align: right;">
        <mat-icon (click)="onNoClick()">highlight_off</mat-icon> 
     </div> -->
    <mat-card-header class="row between-xs middled-xs">
        <h1 style="text-align: center; width: 100%;">
            Dirección de entrega
        </h1>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-radio-group formControlName="secondCtrl" required>
                    <mat-card class="address-shadow">
                        <mat-radio-button value="free">{{'diagonal 8b #25-106'}} <br/> {{'Palmar'}}</mat-radio-button>
                    </mat-card>
                    <mat-card class="address-shadow">
                        <mat-radio-button value="priority">{{'diagonal 8b #25-106'}} <br/> {{'Palmar'}}</mat-radio-button>
                    </mat-card>
                </mat-radio-group>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="color: #ff4081;">
                                Agrega una dirección
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                {{panelOpenState ? 'open' : 'closed'}}
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <p>Aquí va el formulario</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-card-content>
</mat-card>