<div class="navbar-cont">
    <mat-toolbar>
        <mat-toolbar-row>
            <div class="input-msn-cont">
                <div class="search-cont">
                    <mat-label class="label-closed" (click)="closedSearch()">
                        <mat-icon style="color: #73726c; font-size: 25px;">closed</mat-icon>
                    </mat-label>
                    <input  matInput 
                            #termino 
                            type="text" 
                            (keyup)="searchStore($event, termino.value)" 
                            autocomplete="off" 
                            placeholder="Buscar..."
                            autofocus="true">
                    <mat-label class="label-search" (click)="searchStore($event, termino.value)">
                        <mat-icon>search</mat-icon>
                    </mat-label>
                </div>
            </div>
        </mat-toolbar-row>
        <mat-progress-bar mode="indeterminate" [ngStyle]="{'display': (isLoading$ | async) ? 'flex' : 'none' }" style="bottom: 0px; position: absolute;"></mat-progress-bar>
    </mat-toolbar>
</div>
