.navbar-cont {
    height: 56px;
    @media (min-width: 600px) {
        height: 64px;
    }
    mat-toolbar {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: white;
        box-shadow: 0px 0px 10px 0px #c7c7c7;
        mat-toolbar-row {
            .input-msn-cont {
                width: 100%;
                .actions-cont {
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .btn-send-cont {
                        width: 38px;
                        height: 38px;
                        border-radius: 5px;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0px 5px;
                        mat-icon {
                            color: #73726c;
                        }
                    }
                    .border-off {
                        margin: 0px;
                        border: none;
                    }
                    .border-on {
                        margin: 0px 5px;
                        border: solid 1px rgba(0, 0, 0, 0.12);
                    }
                }
                .search-cont {
                    display: flex;
                    input {
                        border-radius: 20px;
                        height: 35px;
                        width: 100%;
                        display: inline-block;
                        text-align: left;
                        background-color: #f9fafc;
                        text-decoration: none;
                        padding: 0px 40px 0px 20px;
                        // height: 30px;
                        // width: 230px;
                        font-size: 15px;
                        outline: none;
                        outline-width: 0;
                        box-shadow: none;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                        border: none;
                        margin: 2px 2px 2px 20px;
                        background-color: #f9fafc;
                        &:focus {
                            box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 0.12);
                        }
                    }
                    mat-label {
                        position: relative;
                        cursor: pointer;
                    }
                    .label-closed {
                        top: 8px;
                    }
                    .label-search {
                        top: 8px;
                        left: -40px;
                        mat-icon {
                            color: #73726c; 
                            font-size: 25px;
                        }
                    }
                }
                /* .state-display {
                    display: none;
                    @media (min-width: 600px) {
                        display: flex;
                    }
                } */
            }
        }
    }
}