<mat-card>
    <div class="favorite-cont">
        <mat-spinner class="position-favorite non-selectable" *ngIf="stateSpinner" diameter=22></mat-spinner>
        <mat-icon *ngIf="!subscribeBtn && !stateSpinner" (click)="subscribe(product.id)" class="notFavorite position-favorite non-selectable">favorite_border</mat-icon>
        <mat-icon *ngIf="subscribeBtn && !stateSpinner" (click)="subscribe(product.id)" class="favorite position-favorite non-selectable">favorite_border</mat-icon>
    </div>
    <!-- <app-counter-products></app-counter-products> -->
    <mat-card-header>
        <mat-card-title style="font-size: 12px; width: 108px;" class="title-style" (click)="openDialogDetailProduct()">
            {{ product.nombrearticulo | uppercase | slice:0:20 | moreContent:19 }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ product.valorventa | currency:'$':'symbol':'1.0-0' }}
        </mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image" (click)="openDialogDetailProduct()">
        <img *ngIf="product.imagen !== ''" onerror="this.src = './../../../../assets/images/not-image.png'" [src]="product.imagen | sanitizerUrl">
        <img *ngIf="product.imagen ===''" src="./../../../../assets/images/not-image.png">
    </div>
    <mat-card-content style="font-size: 12px; width: 100%; text-align: center; margin-bottom: 0px;">
        <p>{{ product.descripcion | lowercase | slice:0:39 | moreContent:38 }}</p>
    </mat-card-content>
    <div class="actions-cont" *ngIf="(addProduct$ | async) as addProduct">
        <mat-card-actions *ngIf="addState; else countIf">
            <button (click)="addCart()" mat-stroked-button color="accent" class="btn-add">agregar
                <mat-icon style="color: #ff4081;">add</mat-icon>
            </button>
        </mat-card-actions>
        <ng-template #countIf>
            <div *ngFor="let addProd of addProduct">
                <mat-card-actions *ngIf="addProd.id === product.id">
                    <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 36px;">
                        <div style="width: 100%; text-align: right; height: 36px;">
                            <mat-icon style="font-size: 36px; color: #9c9c9cde; width: 36px; cursor: pointer;" (click)="removeCart()">remove_circle_outline</mat-icon>
                        </div>
                        <div style="width: 100%; justify-content: center;">
                            <strong style="color: #ff4081;">{{ addProd.cant }}</strong>
                        </div>
                        <div style="width: 100%; text-align: left; height: 36px;">
                            <mat-icon style="font-size: 36px; color: #9c9c9cde;  width: 36px; cursor: pointer;" (click)="addCart()">add_circle_outline</mat-icon>
                        </div>
                    </div>
                </mat-card-actions>
            </div>
        </ng-template>
    </div>
</mat-card>