mat-card {
    padding-top: 24px;
    //padding: 10px 16px 0px;
    padding: 24px 16px 16px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    @media (min-width: 425px) {
        min-width: 140px;
        max-width: 160px;
    }
    .actions-cont {
        // non-selectable
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

mat-card-header {
    height: 80px;
    font-size: 14px;
    justify-content: center;
}

mat-card-content {
    text-align: center;
    height: 40px;
    margin-top: 10px;
}

mat-card-actions {
    margin: 0px;
    padding: 8px 0px 0px;
}

mat-card-actions>button {
    border-radius: 20px;
}

.show {
    box-shadow: 0px 0px 4px 2px rgba(115, 114, 108, 0.4);
}

.title-style {
    cursor: pointer;
    align-items: center;
    width: 100%;
}

.cont-actions>button {
    bottom: 0px;
    width: 100%;
}

.crop-image {
    height: 120px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }
}

.btn-add {
    bottom: 0px;
    width: 100%;
    &:hover {
        border: solid 1px #ff4081;
    }
}