.position-bar-top2 {
    width: 100%;
    position: fixed;
    align-items: center;
    margin-left: 0px;
    margin-top: 56px;
    padding: 5px;
    background-color: rgb(177, 177, 177);
    z-index: 750;

    .close-cont {
        color: white; 
        padding: 8px; 
        margin-bottom: 0px; 
        font-size: 30px; cursor: pointer;
    }
    .title-cont {
        color: white; 
        padding: 8px; 
        margin-bottom: 0px; 
        font-size: 20px;
    }
}

.position-sidenav {
    margin-top: 102px;
    width: 100%;
    overflow: none;

    .aline-product {
        margin-bottom: 36px;

        .position-message-center {
            padding-top: 20px;
            margin: 20px;
            align-items: center;
            text-align: center;
            color: #4d90d3;
        }
        .note-cont {
            padding: 5px;
            margin: 0px 5px;
            border: solid 1px #e0e0e0;
            border-radius: 5px;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
                        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            mat-card-subtitle {
                color: red;
                margin: 0px;
                text-align: justify;
                span {
                    font-weight: 500;
                }
            }
        }
        .list-store-cont {
            mat-expansion-panel {
                margin-top: 10px; 
                margin: 5px;

                mat-expansion-panel-header {
                    margin-bottom: 5px;
                    padding-top: 5px;
                    height: auto !important;
                    mat-panel-title {
                        display: flex; 
                        align-items: center;
                    }
                    mat-panel-description {
                        flex-direction: row-reverse; 
                        align-items: center;
                        margin-right: 10px !important;
                    }

                }
                .container-list-product {
                    border-bottom: solid 1px #e0e0e0;
                    padding-bottom: 10px;
                    margin-bottom: 10px;

                    .image-cont {
                        justify-content: left; 
                        display: flex;

                        .crop-image {
                            width: 100%;
                            overflow: hidden;
                            cursor: pointer;
                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                height: 80%;
                                border-radius: 5px;
                            }
                        }
                    }
                    .content-cont {
                        display: flex; 
                        justify-content: left; 
                        margin: 0px;

                        mat-card-subtitle {
                            margin: 0px; 
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .action-cont {
            text-align: center;

            button {
                margin: 20px 0px;
                border-radius: 20px;
                color: #ff4081;
                &:hover {
                    border: solid 1px #ff4081;
                }
                @media (min-width: 700px) {
                    color: #ff4081;
                    bottom: 0px;
                    border-radius: 20px;  
                }
            }
        }
    }
}

.position-bar-bottom {
    width: 100%; // 90% o 100%
    position: fixed;
    bottom: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(177, 177, 177);
    z-index: 750;
}

@media(min-width: 576px) {
    .example-sidenav {
        width: 450px;
        margin-top: 64px;
        /* padding-top: 45px; */
        padding-bottom: 110px;
        bottom: 0px;
    }
    .position-sidenav {
        /* top: 46px; */
        margin-top: 46px;
    }
    .aline-product {
        margin-bottom: 0px;
    }
    .position-bar-bottom {
        width: 450px;
    }
    .position-bar-top2 {
        width: 450px;
        margin-top: 0px;
        /* top: 64px; */
    }
}

/* sidenav desplegable Derecho -- final -- */