mat-card {
    box-shadow: none !important;
}

button {
    width: 100%;
    border-radius: 20px;
    background-color: #4d90d3;
    color: white;
    &:hover {
        background-color: #396a9b;
    }
}

.full-width {
    width: 100%;
}

.shipping-card {
    min-width: 120px;
    margin: 20px 20px 10px;
}

.mat-radio-button {
    display: block;
    margin: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}