.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 20px;
    margin-top: 20px;
    //padding-bottom: 20px;
    @media (min-width: 700px) {
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 20px;
    }
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #f9fafc;
}

@media (min-width: 375px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 475px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

html,
body {
    height: 100%;
    background-color: #f9fafc;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
}

mat-card-title,
mat-card-subtitle,
h1,
button,
p,
span,
li {
    &:focus {
        outline: none;
    }
}

.mat-dialog-container {
    padding: 0px !important;
    border-radius: 20px !important;
}


/* botones next y prev de los componente banner --init-- */

.swiper-button-next {
    --swiper-navigation-size: 15px;
    --swiper-theme-color: white;
    background-color: #4d90d3;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-button-prev {
    --swiper-navigation-size: 15px;
    --swiper-theme-color: white;
    background-color: #4d90d3;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-button-disabled {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

/* botones next y prev de los componente banner --final-- */

/* scroll --init-- */

body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    // display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
    background: #ebebeb;
    border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #e7e7e7;
}

/* scroll --final-- */

/* scroll cart --init-- */

.ng-tns-c66-1::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    // display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ng-tns-c66-1::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ng-tns-c66-1::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.ng-tns-c66-1::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.ng-tns-c66-1::-webkit-scrollbar-track {
    background: #ebebeb;
    border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
.ng-tns-c66-1::-webkit-scrollbar-track:hover,
.ng-tns-c66-1::-webkit-scrollbar-track:active {
  background: #e7e7e7;
}

/* scroll --final-- */

/* scroll sidebar --init-- */

.ng-tns-c66-0::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    // display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ng-tns-c66-0::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ng-tns-c66-0::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.ng-tns-c66-0::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.ng-tns-c66-0::-webkit-scrollbar-track {
    background: #ebebeb;
    border-radius: 4px;
    margin-top: 54px;
}
/* Cambiamos el fondo cuando esté en active o hover */
.ng-tns-c66-0::-webkit-scrollbar-track:hover,
.ng-tns-c66-0::-webkit-scrollbar-track:active {
  background: #e7e7e7;
}

/* scroll sidebar --final-- */

/* tabs module search --init-- */
.mat-tab-body-content {
    overflow: hidden !important;
}
/* tabs module search --final-- */