.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 20px;
    padding-top: 20px;
    //padding-bottom: 20px;
    @media (min-width: 700px) {
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 20px;
    }
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #ffffff00;
}

.container-home {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #fafafa;
    @media (min-width: 700px) {
        background-color: #ffffff00;
    }
}

@media (min-width: 375px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 475px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

html,
body {
    height: 100%;
    background-color: #dadde1;
    @media (min-width: 700px) {
        background-color: #f9fafc;
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
}

mat-card-title,
mat-card-subtitle,
h1,
button,
p,
span,
li {
    &:focus {
        outline: none;
    }
}

.mat-dialog-container {
    padding: 0px !important;
    border-radius: 20px !important;
}

/* Bottom Sheet comments --init-- */

.mat-bottom-sheet-container {
    border-radius: 20px 20px 0px 0px;
}

.mat-form-field-wrapper {
    padding: 0px;
    margin: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 14px 0px 10px !important;
}

.mat-form-field-infix {
    border-top: none !important;
}

.mat-form-field-appearance-outline {
    margin: 0px !important;
}

/* .mat-bottom-sheet-container {
    height: 90vh !important;
    max-height: 90vh !important;
} */

/* Bottom Sheet comments --final-- */

/* step order --init-- */

.mat-step-label {
    align-items: center !important;
    display: contents !important;
}

.mat-step-icon {
    background: white !important;
    border: solid 1px #0000001f;
}

.mat-step-icon-content {
    color: #ff4081;
}

.mat-step-label-active {
    color: #ff4081 !important;
}

/* step order --final-- */

/* botones next y prev de los componente banner --init-- */

.swiper-button-next {
    --swiper-navigation-size: 15px;
    --swiper-theme-color: white;
    background-color: #4d90d3;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-button-prev {
    --swiper-navigation-size: 15px;
    --swiper-theme-color: white;
    background-color: #4d90d3;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-button-disabled {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

/* botones next y prev de los componente banner --final-- */

/* scroll body --init-- */

body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    // display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
    background: #ebebeb;
    border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #e7e7e7;
}

/* scroll body --final-- */

/* scroll --init-- */

.mat-drawer-inner-container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    // display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.mat-drawer-inner-container::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.mat-drawer-inner-container::-webkit-scrollbar-track {
    background: #ebebeb;
    border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
.mat-drawer-inner-container::-webkit-scrollbar-track:hover,
.mat-drawer-inner-container::-webkit-scrollbar-track:active {
  background: #e7e7e7;
}

/* scroll --final-- */

/* tabs module search --init-- */
.mat-tab-body-content {
    overflow: hidden !important;
}
/* tabs module search --final-- */

/*sidenav izquierdo y derecho --init--*/
// para que la pantalla negra ocupe todo el espacio
.mat-drawer-container {
    position: inherit !important;
}

.mat-drawer-backdrop {
    position: fixed !important;
    z-index: 2 !important;
}

/*sidenav izquierdo y derecho --final--*/

/* menu para calificar tiendas --init-- */

.mat-menu-panel {
    min-height: 0px !important;
    // padding: 20px 15px 0px !important;
}

/* menu para calificar tiendas --final-- */