.cont-name-store {
    margin: 20px 0px;
}

.cont-store-grid {
    margin-top: 20px;
    //margin-right: 20px;
    //margin-left: 20px;
    padding-bottom: 20px;
    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px 10px;
    }
}

.store-products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px 10px;
}

app-product-store {
    display: none;
    @media (min-width: 700px) {
        display: flex;
    }
}

app-product-store-movil {
    border-bottom: solid 1px #e0e0e0;
    @media (min-width: 700px) {
        display: none;
    }
}

@media (min-width: 375px) {
    .store-products-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 600px) {
    .store-products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 890px) {
    .store-products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 1080px) {
    .store-products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .container {
        max-width: 1110px;
        padding-right: 0px;
        padding-left: 0px;
    }
}