<div ClassName="container" class="cont-name-store">
    <!-- <mat-card-title>
        {{ nameStore }}
    </mat-card-title> -->
</div>
<div class="cont-store-grid">
    <app-sidebar-store *ngIf="(store$ | async)  as store" [store]="store"></app-sidebar-store>
    <div *ngIf="(store$ | async)  as store" class="store-products-grid container">
        <app-product-store *ngFor="let product of store[0].products" [product]="product" [razonsocial]="nameStore" [imagen]="imagent">
        </app-product-store>
        <app-product-store-movil *ngFor="let product of store[0].products" [product]="product" [razonsocial]="nameStore" [imagen]="imagent"></app-product-store-movil>
    </div>
</div>