.swiper-container {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20px;
}

.general {
    width: 100%;
    height: 100%;
    padding: 10px;
    .header-cont {
        padding: 10px 10px 5px 20px;
        .title-cont {
            display: flex;
            align-items: center;
            mat-card-title {
                color: gray;
                padding: 8px;
                margin: 0px;
            }
        }
        .nav-cont {
            color: gray;
            padding-left: 16px;
            div {
                padding: 0px 20px 0px 0px;
                mat-card-subtitle {
                    padding: 8px 8px 4px 0px;
                    margin: 0px;
                    cursor: pointer;
                }
            }
        }
    }
    .swiper-wrapper {
        padding-left: 5px;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: white;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
    .footer-cont {
        padding: 10px 10px 5px 20px;
        display: none;
        .btn-cont {
            div {
                padding: 0px 20px 0px 0px
            }
        }
    }
}

.btn-style {
    padding: 0px 10px;
    font-size: 12px;
    margin: 0px 20px;
}