<div class="store-cont">
    <!-- header -->
    <div class="row between-xs middled-xs header-cont">
        <div class="title-cont">
            <div    [routerLink]="['/stores', store.id]"
                    mat-card-avatar style="background-image: url({{store.imagen}});
                    background-size: cover;
                    cursor: pointer;">
                <img *ngIf="store.imagen ==='' || 
                store.imagen === null || 
                store.imagen === undefined" 
                src="./../../../../assets/images/icon-store.png">
            </div>
            <mat-card-title>
                <span class="tag-pointer" [routerLink]="['/stores', store.id]">
                    {{store.razonsocial | titlecase}}
                </span><br>
                <span class="tag tag-color-gray">
                    Min: {{ (configStore$ | async)?.valueMin | currency:'$':'symbol':'1.0-0' }}
                </span>
                <span   (click)="openDialogBusinessHours()" 
                        class="tag tag-color-green tag-pointer"
                        *ngIf="availabilityStore">
                        {{ (currentBusinessHours$ | async)?.horaini | date:'H:mm' }} - 
                        {{ (currentBusinessHours$ | async)?.horafin | date:'H:mm' }}
                </span>
                <span   class="tag tag-color-red tag-pointer"
                        (click)="openDialogBusinessHours()"
                        *ngIf="!availabilityStore">
                        Cerrado
                </span>
                <span   class="tag tag-color-blue"
                        *ngIf="store.valordomicilio > 0">
                        Domicilio: {{ store.valordomicilio | currency:'$':'symbol':'1.0-0' }}
                </span>
                <span   class="tag tag-color-green"
                        *ngIf="store.valordomicilio === 0">
                        Domicilio: Gratis
                </span>
            </mat-card-title>
        </div>

        <div class="row show-hover nav-cont">
            <div class="row">
                <mat-card-subtitle [routerLink]="['/stores', store.id]">
                    <mat-icon>add_circle</mat-icon>
                </mat-card-subtitle>
            </div>
        </div>
    </div>
    
    <!-- message -->
    <div class="message-cont" 
    *ngIf="store.products === null  || 
    store.products === undefined    || 
    store.products === []">
        <mat-card-subtitle>
            Esta tienda aun no agrega productos.
        </mat-card-subtitle>
    </div>
    <!-- Swiper --init-->
    <div class="swiper-container general">
        <!-- swiper wrapper -->
        <div class="swiper-wrapper">
            <div *ngFor="let storeProduct of store.products" 
            class="swiper-slide">
                <app-product-store [product]="storeProduct" 
                [razonsocial]="store.razonsocial" 
                [imagen]="store.imagen">
                </app-product-store>
            </div>
            <div class="swiper-slide" style="width: 30px;"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!-- Swiper --final-->

    <!-- footer display: none; ha espera de implementacion-->
    <div class="row between-xs middled-xs footer-cont">
        <div class="row btn-cont">
            <a mat-button 
            routerLinkActive="active" 
            class="btn-style" 
            *ngIf="!subscribeBtn" 
            (click)="subscribe(store.id)">
                <div class="btn-aling">
                    <span>Suscribirse</span> 
                    <span *ngIf="stateSpinner" matSuffix>
                        <mat-spinner diameter=20></mat-spinner>
                    </span>
                    <mat-icon *ngIf="!stateSpinner" 
                    style="color: #73726c;">
                        notifications_none
                    </mat-icon>
                </div>
            </a>
            <a mat-button 
            routerLinkActive="active" 
            class="btn-style" style="color: black;" 
            *ngIf="subscribeBtn" 
            (click)="subscribe(store.id)">
                <div class="btn-aling">
                    <span>Suscrito</span> 
                    <span *ngIf="stateSpinner" matSuffix>
                        <mat-spinner diameter=20></mat-spinner>
                    </span>
                    <mat-icon *ngIf="!stateSpinner" 
                    style="color: #ff4b88;">
                        notifications_active
                    </mat-icon>
                </div>
            </a>
            <a mat-button 
            routerLinkActive="active" 
            class="btn-style btn-style-desktop" 
            (click)="changeShowComment()">
                Comentar
                <mat-icon style="color: #73726c;">
                    insert_comment
                </mat-icon>
            </a>
            <a mat-button 
            routerLinkActive="active" 
            class="btn-style btn-style-movil" 
            (click)="openBottomSheet()">
                Comentar
                <mat-icon style="color: #73726c;">
                    insert_comment
                </mat-icon>
            </a>
            <!-- <a mat-button routerLinkActive="active" class="btn-style">
                Compartir<mat-icon style="color: #73726c;">reply</mat-icon>
            </a> -->
        </div>
        <div class="row btn-cont">
            <a mat-button [matMenuTriggerFor]="aboveMenu" class="btn-style btn-style-right">
                <span   class="tag" 
                        [matMenuTriggerFor]="aboveMenu" 
                        *ngIf="(qualificationStore$ | async) !== -1">
                        Punt: {{ qualificationStore$ | async | currency:'':'':'1.2-2' }}
                </span>
                <mat-icon style="color: #73726c;">star_border</mat-icon>
            </a>
            <!-- <a mat-button routerLink="/stores" routerLinkActive="active" mat-button class="btn-style btn-style-right">
                <mat-icon  style="color: #73726c;">more_horiz</mat-icon>
            </a> -->
        </div>
    </div>
    <div *ngIf="showComment" class="between-xs middled-xs footer-cont">
        <div style="display: flex; justify-content: center;" *ngIf="stateLoading$ | async">
            <mat-spinner diameter=20></mat-spinner>
        </div>
        <div class="comments-cont" *ngIf="!(stateComment$ | async)">
            <p>Aun no hay comentarios, sé el primero en comentar</p>
        </div>
        <div class="comments-cont">
            <div *ngFor="let comment of comments$ | async">
                <div class="comment">
                    <div>
                        <div class="avatar">
                            {{ comment.name | slice:0:1 }}
                        </div>
                    </div>
                    <p>
                        <span>
                            <strong>{{ comment.name | titlecase | slice:0:30 | moreContent:29 }}</strong>
                        </span>
                        <span   *ngIf="comment.idbyaccessuser === ( idClient | async )"
                        (click)="assignIdEditComment(comment.id)" 
                        class="name-actions">
                                editar
                        </span>
                        <span   *ngIf="comment.idbyaccessuser === ( idClient | async )"
                        (click)="inactivateComment(comment.comentario, comment.id)" 
                        class="name-actions">
                                eliminar
                        </span><br>
                        {{ comment.comentario | lowercase | slice:0:120 | moreContent:119 }}
                    </p>
                </div>
                <div *ngIf="comment.id === idCommentEdit" class="input-edit-cont">
                    <form [formGroup]="form">
                        <input  #commentEdit 
                                matInput
                                [value]="comment.comentario" 
                                autocomplete="off"
                                autofocus="true">
                        <div class="actions-cont">
                            <div class="btn-send-cont">
                                <mat-icon matSuffix 
                                (click)="editComment(comment.comentario, commentEdit.value, comment.id)">
                                    edit
                                </mat-icon>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="input-msn-cont">
            <form [formGroup]="form">
                <input  #comment 
                        matInput 
                        formControlName="comentario" 
                        placeholder="Escribenos tus comentarios..." 
                        autocomplete="off">
                <div class="actions-cont">
                    <div class="btn-send-cont">
                        <mat-icon matSuffix (click)="sendComment(comment.value)">send</mat-icon>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- menu qualification -->
<mat-menu #aboveMenu="matMenu" yPosition="above">
    <a mat-button class="btn-style">
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover1 === '1' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal1()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(1)">
                    star_border
        </mat-icon>
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover2 === '2' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal2()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(2)">
                    star_border
        </mat-icon>
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover3 === '3' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal3()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(3)">
                    star_border
        </mat-icon>
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover4 === '4' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal4()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(4)">
                    star_border
        </mat-icon>
        <mat-icon   class="cal-color" 
                    [ngStyle]="{'color':colorHover5 === '5' ? '#fff159' : 'grey' }" 
                    (mouseenter)="selectCal5()" 
                    (mouseleave)="offSelectCal()"
                    (click)="sendQualification(5)">
                    star_border
        </mat-icon>
    </a>
</mat-menu>