mat-card {
    margin: 16px;
    .action-buttons {
        padding-bottom: 20px;
        button {
            margin-right: 10px;
        }
    }

    .headers-align {
        .form-cont {
            max-width: 450px;
        }
    }
    
    .headers-align .mat-expansion-panel-header-title,
    .headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    }
    
    .headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }
    
    .headers-align .mat-form-field + .mat-form-field {
        margin-left: 8px;
    }

    mat-form-field {
        margin: 0px !important;
        width: 100%;
    }
}