<mat-card>
    <div class="action-buttons">
        <button mat-stroked-button color="accent" (click)="accordion.openAll()">Abrir todo</button>
        <button mat-stroked-button color="accent" (click)="accordion.closeAll()">Cerrar todo</button>
      </div>
      <mat-accordion class="headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cambiar contraseña
            </mat-panel-title>
            <mat-icon style="color: #0000008a; padding-right: 10px;">security</mat-icon>
          </mat-expansion-panel-header>
          <div class="form-cont">
            <mat-form-field>
              <mat-label>Contraseña actual</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Nueva contraseña</mat-label>
              <input matInput [type]="hide2 ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide2 password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Repita contraseña</mat-label>
              <input matInput [type]="hide3 ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide3 password'" [attr.aria-pressed]="hide3">
              <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
  
            <button mat-stroked-button color="accent">Guardar</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
</mat-card>

