<mat-card>
    <div class="action-buttons">
        <button mat-stroked-button color="accent" (click)="accordion.openAll()">Abrir todo</button>
        <button mat-stroked-button color="accent" (click)="accordion.closeAll()">Cerrar todo</button>
        <button mat-stroked-button color="accent"(click)="ngOnInit()"><mat-icon>cached</mat-icon></button>
      </div>
      <mat-accordion class="headers-align" multi>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pedidos no confirmados
            </mat-panel-title>
            <mat-spinner *ngIf="isloading$ | async" diameter=24></mat-spinner>
            <mat-icon style="color: #0000008a; padding-right: 10px;">pending_actions</mat-icon>
          </mat-expansion-panel-header>
      
          <table mat-table [dataSource]="purchases$ | async" class="mat-elevation-z8 product-table">
            <ng-container matColumnDef="Orden">
                <th mat-header-cell *matHeaderCellDef> Orden </th>
                <td mat-cell *matCellDef="let order">
                  <span>Orden N°: {{ order.id }} - </span>
                  <span>Fecha: {{ order.horaventa | date:'short' }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th class="aling-action" mat-header-cell *matHeaderCellDef> Acciones </th>
                <td class="aling-action" mat-cell *matCellDef="let order"> 
                    <a mat-button [routerLink]="['/user/orders/detail', order.id]">
                        <mat-icon color="primary">find_in_page</mat-icon>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pedidos confirmados
            </mat-panel-title>
            <mat-spinner *ngIf="isloadingTwo$ | async" diameter=24></mat-spinner>
            <mat-icon style="color: #0000008a; padding-right: 10px;">shopping_basket</mat-icon>
          </mat-expansion-panel-header>
      
          <table mat-table [dataSource]="purchasesConfirmed$ | async" class="mat-elevation-z8 product-table">
            <ng-container matColumnDef="Orden">
                <th mat-header-cell *matHeaderCellDef> Orden </th>
                <td mat-cell *matCellDef="let order">
                  <span>Orden N°: {{ order.id }} - </span>
                  <span>Fecha: {{ order.horaventa | date:'short' }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th class="aling-action" mat-header-cell *matHeaderCellDef> Acciones </th>
                <td class="aling-action" mat-cell *matCellDef="let order"> 
                    <a mat-button [routerLink]="['/user/orders/detail', order.id]">
                        <mat-icon color="primary">find_in_page</mat-icon>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pedidos despachados
            </mat-panel-title>
            <mat-spinner *ngIf="isloadingThree$ | async" diameter=24></mat-spinner>
            <mat-icon style="color: #0000008a; padding-right: 10px;">local_shipping</mat-icon>
          </mat-expansion-panel-header>
      
          <table mat-table [dataSource]="withoutDispatching$ | async" class="mat-elevation-z8 product-table">
            <ng-container matColumnDef="Orden">
                <th mat-header-cell *matHeaderCellDef> Orden </th>
                <td mat-cell *matCellDef="let order">
                  <span>Orden N°: {{ order.id }} - </span>
                  <span>Fecha: {{ order.horaventa | date:'short' }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th class="aling-action" mat-header-cell *matHeaderCellDef> Acciones </th>
                <td class="aling-action" mat-cell *matCellDef="let order"> 
                    <a mat-button [routerLink]="['/user/orders/detail', order.id]">
                        <mat-icon color="primary">find_in_page</mat-icon>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pedidos anulados
            </mat-panel-title>
            <mat-spinner *ngIf="isloadingFour$ | async" diameter=24></mat-spinner>
            <mat-icon style="color: #0000008a; padding-right: 10px;">remove_shopping_cart</mat-icon>
          </mat-expansion-panel-header>
      
          <table mat-table [dataSource]="purchasesCanceled$ | async" class="mat-elevation-z8 product-table">
            <ng-container matColumnDef="Orden">
                <th mat-header-cell *matHeaderCellDef> Orden </th>
                <td mat-cell *matCellDef="let order">
                  <span>Orden N°: {{ order.id }} - </span>
                  <span>Fecha: {{ order.horaventa | date:'short' }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th class="aling-action" mat-header-cell *matHeaderCellDef> Acciones </th>
                <td class="aling-action" mat-cell *matCellDef="let order"> 
                    <a mat-button [routerLink]="['/user/orders/detail', order.id]">
                        <mat-icon color="primary">find_in_page</mat-icon>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      
        </mat-expansion-panel>
      
        <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Historial
            </mat-panel-title>
            <mat-spinner *ngIf="isloading$ | async" diameter=24></mat-spinner>
            <mat-icon style="color: #0000008a; padding-right: 10px;">add_location</mat-icon>
          </mat-expansion-panel-header>
      
          <table mat-table [dataSource]="historyOrder$ | async" class="mat-elevation-z8 product-table">
            <ng-container matColumnDef="Orden">
                <th mat-header-cell *matHeaderCellDef> Orden </th>
                <td mat-cell *matCellDef="let order">
                  <span>Orden N°: {{ order.id }} - </span>
                  <span>Fecha: {{ order.horaventa | date:'short' }}</span>
                  <span>Cant: {{ order.products.length }} | </span>
                  <span>Total: {{ order.valortotal | currency:'$':'symbol':'1.0-0' }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th class="aling-action" mat-header-cell *matHeaderCellDef> Acciones </th>
                <td class="aling-action" mat-cell *matCellDef="let order"> 
                    <a mat-button [routerLink]="['/user/orders/detail', order.id]">
                        <mat-icon color="primary">find_in_page</mat-icon>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        </mat-expansion-panel> -->
      </mat-accordion>
</mat-card>
